<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Improved Curse of Weakness" label-position="on-border">
          <input
            v-model.number="options.character.talents.affliction.improvedCurseOfWeakness"
            class="input is-size-7-mobile"
            max="3"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Improved Curse of Agony" label-position="on-border">
          <input
            v-model.number="options.character.talents.affliction.improvedCurseOfAgony"
            class="input is-size-7-mobile"
            max="3"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Grim Reach" label-position="on-border">
          <input
            v-model.number="options.character.talents.affliction.grimReach"
            class="input is-size-7-mobile"
            max="2"
            min="0"
            type="number"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="Suppression" label-position="on-border">
          <input
            v-model.number="options.character.talents.affliction.suppression"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Improved Drain Soul" label-position="on-border">
          <input
            v-model.number="options.character.talents.affliction.improvedDrainSoul"
            class="input is-size-7-mobile"
            max="2"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Fel Concentration" label-position="on-border">
          <input
            v-model.number="options.character.talents.affliction.felConcentration"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Nightfall" label-position="on-border">
          <input
            v-model.number="options.character.talents.affliction.nightfall"
            class="input is-size-7-mobile"
            max="2"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Siphon Life" label-position="on-border">
          <input
            v-model.number="options.character.talents.affliction.siphonLife"
            class="input is-size-7-mobile"
            max="1"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Shadow Mastery" label-position="on-border">
          <input
            v-model.number="options.character.talents.affliction.shadowMastery"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Dark Pact" label-position="on-border">
          <input
            v-model.number="options.character.talents.affliction.darkPact"
            class="input is-size-7-mobile"
            max="1"
            min="0"
            type="number"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="Improved Corruption" label-position="on-border">
          <input
            v-model.number="options.character.talents.affliction.improvedCorruption"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Improved Life Tap" label-position="on-border">
          <input
            v-model.number="options.character.talents.affliction.improvedLifeTap"
            class="input is-size-7-mobile"
            max="2"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Amplify Curse" label-position="on-border">
          <input
            v-model.number="options.character.talents.affliction.amplifyCurse"
            class="input is-size-7-mobile"
            max="1"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Curse of Exhaustion" label-position="on-border">
          <input
            v-model.number="options.character.talents.affliction.curseOfExhaustion"
            class="input is-size-7-mobile"
            max="1"
            min="0"
            type="number"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Soul Siphon" label-position="on-border">
          <input
            v-model.number="options.character.talents.affliction.soulSiphon"
            class="input is-size-7-mobile"
            max="2"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Improved Curse of Exhaustion" label-position="on-border">
          <input
            v-model.number="options.character.talents.affliction.improvedCurseOfExhaustion"
            class="input is-size-7-mobile"
            max="1"
            min="0"
            type="number"
          />
        </b-field>
      </div>
    </div>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import OptionsInterface from '../wow/interface/Options'

const Props = Vue.extend({
  props: {
    options: Object as () => OptionsInterface
  }
})

@Component
export default class AfflictionTalents extends Props {}
</script>
