<template>
  <div class="content">
    <b-tabs class="block">
      <b-tab-item label="Consumes">
        <div class="columns is-mobile">
          <div class="column">
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.BrilliantWizardOil" class="is-size-7-mobile">
                Brilliant Wizard Oil
                <a :href="bufflinks.BrilliantWizardOil" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.BlessedWizardOil" class="is-size-7-mobile">
                Blessed Wizard Oil
                <a :href="bufflinks.BlessedWizardOil" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox
                v-model="character.buffs"
                :native-value="buffs.CerebralCortexCompound"
                class="is-size-7-mobile"
              >
                Cerebral Cortex Compound
                <a :href="bufflinks.CerebralCortexCompound" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.Dreamtonic" class="is-size-7-mobile">
                Dreamtonic
                <a :href="bufflinks.Dreamtonic" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.FlaskOfSupremePower" class="is-size-7-mobile">
                Flask of Supreme Power
                <a :href="bufflinks.FlaskOfSupremePower" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.DreamshardElixir" class="is-size-7-mobile">
                Dreamshard Elixir
                <a :href="bufflinks.DreamshardElixir" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.ElixirOfShadowPower" class="is-size-7-mobile">
                Elixir of Shadow Power
                <a :href="bufflinks.ElixirOfShadowPower" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox
                v-model="character.buffs"
                :native-value="buffs.ElixirOfGreaterFirePower"
                class="is-size-7-mobile"
              >
                Elixir of Greater Fire Power
                <a :href="bufflinks.ElixirOfGreaterFirePower" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.GreaterArcaneElixir" class="is-size-7-mobile">
                Greater Arcane Elixir
                <a :href="bufflinks.GreaterArcaneElixir" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
        </div>
      </b-tab-item>
      <b-tab-item label="Food">
        <div class="columns is-mobile">
          <div class="column">
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.TelAbimDelight" class="is-size-7-mobile">
                Danonzo's Tel'Abim Delight
                <a :href="bufflinks.TelAbimDelight" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>

            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.TelAbimMedley" class="is-size-7-mobile">
                Danonzo's Tel'Abim Medley
                <a :href="bufflinks.TelAbimMedley" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>

            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.MedivhsMerlotBlue" class="is-size-7-mobile">
                Medivh's Merlot Blue
                <a :href="bufflinks.MedivhsMerlotBlue" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>

            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.RunnTumTuberSurprise" class="is-size-7-mobile">
                Runn Tum Tuber Surprise
                <a :href="bufflinks.RunnTumTuberSurprise" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
        </div>
      </b-tab-item>
      <b-tab-item label="Spell Buffs">
        <div class="columns is-mobile">
          <div class="column">
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.DemonArmor" class="is-size-7-mobile">
                Demon Armor
                <a :href="bufflinks.DemonArmor" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.ArcaneBrilliance" class="is-size-7-mobile">
                Arcane Brilliance
                <a :href="bufflinks.ArcaneBrilliance" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.BlessingOfKings" class="is-size-7-mobile">
                Blessing of Kings
                <a :href="bufflinks.BlessingOfKings" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.BlessingOfWisdom" class="is-size-7-mobile">
                Blessing of Wisdom
                <a :href="bufflinks.BlessingOfWisdom" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.EmeraldBlessing" class="is-size-7-mobile">
                Emerald Blessing
                <a :href="bufflinks.EmeraldBlessing" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.GiftOfTheWildRk2" class="is-size-7-mobile">
                Gift of the Wild Rank 2
                <a :href="bufflinks.GiftOfTheWildRk2" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
        </div>
      </b-tab-item>
      <b-tab-item label="Temporary Buffs">
        <div class="columns is-mobile">
          <div class="column">
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.BurningAdrenaline" class="is-size-7-mobile">
                Burning Adrenaline
                <a :href="bufflinks.BurningAdrenaline" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.GraceOfTheSunwell" class="is-size-7-mobile">
                Grace of the Sunwell
                <a :href="bufflinks.GraceOfTheSunwell" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.PowerInfusion" class="is-size-7-mobile">
                Power Infusion
                <a :href="bufflinks.PowerInfusion" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
        </div>
      </b-tab-item>
      <b-tab-item label="Auras">
        <div class="columns is-mobile">
          <div class="column">
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.MoonkinAura" class="is-size-7-mobile">
                Moonkin Aura (3% crit)
                <a :href="bufflinks.MoonkinAura" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.MoonkinAuraMoonclaw" v-model="character.buffs">
                Moonkin Aura - Idol of the Moonclaw (extra 1% crit)
                <a class="turtle-link" :href="bufflinks.MoonkinAuraMoonclaw" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.ManaSpringTotem" v-model="character.buffs">
                Mana Spring Totem
                <a :href="bufflinks.ManaSpringTotem" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.AtieshAuraDruid" class="is-size-7-mobile">
                Druid Atiesh (11 mp5) - Power of the Guardian
                <a :href="bufflinks.AtieshAuraDruid" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.AtieshAuraMage" class="is-size-7-mobile">
                Mage Atiesh (2% crit) - Power of the Guardian
                <a :href="bufflinks.AtieshAuraMage" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.AtieshAuraWarlock" class="is-size-7-mobile">
                Warlock Atiesh (33 sp) - Power of the Guardian
                <a :href="bufflinks.AtieshAuraWarlock" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
        </div>
      </b-tab-item>
      <b-tab-item label="World Buffs">
        <div class="columns is-mobile">
          <div class="column">
            <div class="field">
              <b-checkbox
                v-model="character.buffs"
                :native-value="buffs.RallyingCryOfTheDragonSlayer"
                class="is-size-7-mobile"
              >
                Rallying Cry of the Dragon Slayer
                <a :href="bufflinks.RallyingCryOfTheDragonSlayer" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.SaygesDarkFortune" class="is-size-7-mobile">
                Sayge's Dark Fortune
                <a :href="bufflinks.SaygesDarkFortune" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.SlipkiksSavvy" class="is-size-7-mobile">
                Slip'kik's Saavy
                <a :href="bufflinks.SlipkiksSavvy" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.SongflowerSerenade" class="is-size-7-mobile">
                Songflower Serenade
                <a :href="bufflinks.SongflowerSerenade" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.SpiritOfZandalar" class="is-size-7-mobile">
                Spirit of Zandalar
                <a :href="bufflinks.SpiritOfZandalar" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox v-model="character.buffs" :native-value="buffs.TracesOfSilithyst" class="is-size-7-mobile">
                Traces of Silithyst
                <a :href="bufflinks.TracesOfSilithyst" class="turtle-link" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
        </div>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import Buffs, { BuffLinks } from '@/wow/enum/Buffs'
import OptionsCharacter from '@/wow/interface/OptionsCharacter'
import { Component, Vue } from 'vue-property-decorator'

const Props = Vue.extend({
  props: {
    character: Object as () => OptionsCharacter
  }
})

@Component
export default class BuffSettings extends Props {
  buffs = Buffs
  bufflinks = BuffLinks
}
</script>
