<template>
  <div class="container is-fluid">
    <table class="table is-fullwidth">
      <DamageDirect v-if="hasDirectDamage" :cast="cast" />
      <DamageSpells :spellDisplayValues="cast.spellDisplayValues()" />
      <DamageISB v-if="cast.hasISB" :displayValue="cast.ISBDisplayValues" />
      <DamageTrinkets
        v-if="hasTrinkets"
        :encounterLength="cast.options.encLen"
        :trinketDisplayValues="trinketDisplayValues"
      />
      <DamageHaste v-if="hasHaste" :encounterLength="cast.options.encLen" :hasteDisplayValues="hasteDisplayValues" />
    </table>
    <br />
  </div>
</template>

<style scoped></style>

<script lang="ts">
import Cast from '@/wow/class/Cast'
import { Component, Vue } from 'vue-property-decorator'
import DamageDirect from '@/components/DamageDirect.vue'
import DamageSpells from '@/components/DamageSpells.vue'
import DamageTrinkets from '@/components/DamageTrinkets.vue'
import DamageHaste from '@/components/DamageHaste.vue'
import DamageISB from '@/components/DamageISB.vue'

export const Props = Vue.extend({
  props: {
    cast: Cast
  }
})

@Component({
  components: {
    DamageISB,
    DamageDirect,
    DamageSpells,
    DamageTrinkets,
    DamageHaste
  }
})
export default class Damage extends Props {
  get hasDirectDamage() {
    return this.cast.normalDmg().effective.avg > 0
  }

  get hasTrinkets() {
    return this.cast.hasTrinkets
  }

  get hasHaste() {
    return this.cast.hasHaste
  }

  get trinketDisplayValues() {
    return this.cast.trinketDisplayValues
  }

  get hasteDisplayValues() {
    return this.cast.hasteDisplayValues
  }
}
</script>
