<template>
  <div class="container is-fluid">
    <table class="table is-fullwidth">
      <thead>
      <tr>
        <th>
            <span class="is-size-7 has-text-warning">
              Direct (Coefficient: {{ (cast.spell.coefficient.direct * 100).toFixed(2) }}%)
            </span>
        </th>
        <th>
          <span class="is-size-7 has-text-white">Normal</span>
        </th>
        <th>
          <span class="is-size-7 has-text-white">Crit</span>
        </th>
        <th>
          <span class="is-size-7 has-text-white">EV</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <b-tooltip multilined v-bind:label="tooltipBase">
            <span class="is-size-7 has-text-weight-bold">Base</span>
          </b-tooltip>
        </td>
        <td>
          <span class="is-size-7">{{ normalDmg.base.text }}</span>
        </td>
        <td>
          <span class="is-size-7">{{ critDmg.base.text }}</span>
        </td>
        <td>
            <span class="is-size-7">{{
                getExpectedDamageValue(normalDmg.base, critDmg.base).toFixed(0)
              }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <b-tooltip multilined v-bind:label="tooltipActual">
            <span class="is-size-7 has-text-weight-bold">Actual</span>
          </b-tooltip>
        </td>
        <td>
          <span class="is-size-7">{{ normalDmg.actual.text }}</span>
        </td>
        <td>
          <span class="is-size-7">{{ critDmg.actual.text }}</span>
        </td>
        <td>
            <span class="is-size-7">{{
                getExpectedDamageValue(normalDmg.actual, critDmg.actual).toFixed(0)
              }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <b-tooltip multilined v-bind:label="tooltipEffective">
            <span class="is-size-7 has-text-weight-bold">Effective</span>
          </b-tooltip>
        </td>
        <td>
          <span class="is-size-7">{{ normalDmg.effective.text }}</span>
        </td>
        <td>
          <span class="is-size-7">{{ critDmg.effective.text }}</span>
        </td>
        <td>
            <span class="is-size-7">{{
                getExpectedDamageValue(normalDmg.effective, critDmg.effective).toFixed(0)
              }}</span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <br />
  </div>
</template>

<style scoped>
td {
  border: 0px;
  width: 25%;
}
</style>

<script lang="ts">
import Cast from '@/wow/class/Cast'
import CastDmgValues from '@/wow/interface/CastDmgValues'
import { Component, Vue } from 'vue-property-decorator'

const Props = Vue.extend({
  props: {
    cast: Cast
  }
})

@Component
export default class Damage extends Props {
  tooltipBase =
    'Base damage is the spells damage including talents that modify the base, such as Moonfury. This is the damage listed in the in-game spellbook.'
  tooltipActual = 'Actual damage is base damage plus (spellpower * spell coefficient)'
  tooltipEffective = 'Effective damage is actual damage plus multipliers from buffs, debuffs, and partial resists'

  get normalDmg() {
    return this.cast.normalDmg()
  }

  get critDmg() {
    return this.cast.critDmg()
  }

  getExpectedDamageValue(normal: CastDmgValues, crit: CastDmgValues) {
    return normal.avg * this.cast.chanceToNormal(this.cast.spell.talentSchool) +
      crit.avg * this.cast.chanceToCrit(this.cast.spell.talentSchool)
  }
}
</script>
