<template>
  <div class="container is-fluid">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>
            <span class="is-size-7 has-text-warning">
              Periodic (Coefficient: {{ (cast.spell.coefficient.periodic * 100).toFixed(2) }}%)
            </span>
          </th>
          <th>
            <span class="is-size-7 has-text-weight-bold has-text-white">Tick</span>
          </th>
          <th>
            <span class="is-size-7 has-text-weight-bold has-text-white">Total</span>
          </th>
          <th>
            <span class="is-size-7 has-text-weight-bold has-text-white">Uptime</span>
          </th>
          <th>
            <span class="is-size-7 has-text-weight-bold has-text-white">Encounter DPS</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <b-tooltip multilined v-bind:label="tooltipBase">
              <span class="is-size-7 has-text-weight-bold">Base</span>
            </b-tooltip>
          </td>
          <td>
            <span class="is-size-7">
              {{ cast.periodicDmg.base.tickText }}
            </span>
          </td>
          <td>
            <span class="is-size-7">
              {{ cast.periodicDmg.base.totalText }}
            </span>
          </td>
          <td>
            <span class="is-size-7"> {{ cast.periodicDmg.base.uptime }}% </span>
          </td>
          <td>
            <span class="is-size-7">
              {{ cast.periodicDPS.base.text }}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <b-tooltip multilined v-bind:label="tooltipActual">
              <span class="is-size-7 has-text-weight-bold">Actual</span>
            </b-tooltip>
          </td>
          <td>
            <span class="is-size-7">
              {{ cast.periodicDmg.actual.tickText }}
            </span>
          </td>
          <td>
            <span class="is-size-7">
              {{ cast.periodicDmg.actual.totalText }}
            </span>
          </td>
          <td>
            <span class="is-size-7"> {{ cast.periodicDmg.actual.uptime }}% </span>
          </td>
          <td>
            <span class="is-size-7">
              {{ cast.periodicDPS.actual.text }}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <b-tooltip multilined v-bind:label="tooltipEffective">
              <span class="is-size-7 has-text-weight-bold">Effective</span>
            </b-tooltip>
          </td>
          <td>
            <span class="is-size-7">
              {{ cast.periodicDmg.effective.tickText }}
            </span>
          </td>
          <td>
            <span class="is-size-7">
              {{ cast.periodicDmg.effective.totalText }}
            </span>
          </td>
          <td>
            <span class="is-size-7"> {{ cast.periodicDmg.effective.uptime }}% </span>
          </td>
          <td>
            <span class="is-size-7 has-text-success has-text-weight-bold">
              {{ cast.periodicDPS.effective.text }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
</template>

<style scoped>
td {
  border: 0px;
  width: 20%;
}
</style>

<script lang="ts">
import Cast from '@/wow/class/Cast'
import { Component, Vue } from 'vue-property-decorator'

const Props = Vue.extend({
  props: {
    cast: Cast
  }
})

@Component
export default class Damage extends Props {
  tooltipBase =
    'Base damage is the spells damage including talents that modify the base, such as Moonfury. This is the damage listed in the in-game spellbook.'
  tooltipActual = 'Actual damage is base damage plus (spellpower * spell coefficient)'
  tooltipEffective = 'Effective damage is actual damage plus multipliers from buffs, debuffs, and partial resists'
}
</script>
