<template>
  <div class="container is-fluid">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>
            <span class="is-size-7 has-text-warning"> Improved Shadow Bolt </span>
          </th>
          <th>
            <span class="is-size-7 has-text-weight-bold has-text-white">Procs</span>
          </th>
          <th>
            <span class="is-size-7 has-text-weight-bold has-text-white">SB Casts ISB Active</span>
          </th>
          <th>
            <span class="is-size-7 has-text-weight-bold has-text-white">Uptime %</span>
          </th>
          <th>
            <span class="is-size-7 has-text-weight-bold has-text-white">Approx. Dot Dmg</span>
          </th>
          <th>
            <span class="is-size-7 has-text-weight-bold has-text-white">SB Dmg</span>
          </th>
          <th>
            <span class="is-size-7 has-text-weight-bold has-text-white">Total Dmg</span>
          </th>
          <th>
            <span class="is-size-7 has-text-weight-bold has-text-white">Encounter DPS</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="desc">
            <span class="is-size-7">
              {{ displayValue.desc }}
            </span>
          </td>
          <td class="percent-width">
            <span class="is-size-7">
              {{ displayValue.numProcs }}
            </span>
          </td>
          <td class="percent-width">
            <span class="is-size-7">
              {{ displayValue.castsISBActive }}
            </span>
          </td>
          <td class="percent-width">
            <span class="is-size-7">
              {{ Math.round(displayValue.uptimePercentage) }}
            </span>
          </td>
          <td class="percent-width">
            <span class="is-size-7">
              {{ Math.round(displayValue.addedDotDmg) }}
            </span>
          </td>
          <td class="percent-width">
            <span class="is-size-7">
              {{ Math.round(displayValue.addedSBDmg) }}
            </span>
          </td>
          <td class="percent-width">
            <span class="is-size-7">
              {{ Math.round(displayValue.totalDmg) }}
            </span>
          </td>
          <td>
            <span class="is-size-7">
              {{ Math.round(10 * displayValue.encounterDPS) / 10 }}
            </span>
          </td>
        </tr>
        <br />
      </tbody>
    </table>
    <br />
  </div>
</template>

<style scoped>
td {
  border: 0px;
}

.desc {
  width: 16%;
}

.percent-width {
  width: 14%;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import ISBDisplayValues from '@/wow/interface/ISBDisplayValues'

const Props = Vue.extend({
  props: {
    displayValue: Object as () => ISBDisplayValues
  }
})

@Component
export default class DamageISB extends Props {}
</script>
