<template>
  <div class="container is-fluid">
    <table class="table is-fullwidth">
      <thead>
      <tr>
        <th>
          <b-tooltip multilined v-bind:label="castTimeTooltip">
            <span class="is-size-7 has-text-warning"> Spell Name ⓘ<br /> (Cast Time w/ Resists + GCD)</span>
          </b-tooltip>
        </th>
        <th>
          <span class="is-size-7 has-text-weight-bold has-text-white">Total Casts | Ticks</span>
        </th>
        <th>
          <span class="is-size-7 has-text-weight-bold has-text-white">Total Dot Damage</span>
        </th>
        <th>
          <span class="is-size-7 has-text-weight-bold has-text-white">Total Direct Damage</span>
        </th>
        <th>
          <span class="is-size-7 has-text-weight-bold has-text-white">Total Combined Damage</span>
        </th>
        <th>
          <span class="is-size-7 has-text-weight-bold has-text-white">Encounter DPS</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr
        v-for="(displayValue, index) in spellDisplayValues"
        :key="displayValue.name + displayValue.type + index.toString()"
      >
        <td>
            <span class="is-size-7">
              {{ displayValue.name }} {{ Math.round(displayValue.effectiveCastTime * 100) / 100 }}s
            </span>
        </td>
        <td>
            <span class="is-size-7">
              {{ displayValue.totalCasts }}
              <span v-if="displayValue.totalTicks > 0" class="is-size-7"> | {{ displayValue.totalTicks }}</span>
            </span>
        </td>
        <td>
            <span class="is-size-7">
              {{ Math.round(displayValue.totalDotDmg) }}
            </span>
        </td>
        <td>
            <span class="is-size-7">
              {{ Math.round(displayValue.totalDirectDmg) }}
            </span>
        </td>
        <td>
            <span class="is-size-7">
              {{ Math.round(displayValue.totalDmg) }}
            </span>
        </td>
        <td>
            <span class="is-size-7">
              {{ Math.round(10 * displayValue.encounterDPS) / 10 }}
            </span>
        </td>
      </tr>
      <br />
      <tr>
        <td>
          <span class="is-size-7 has-text-weight-bold has-text-white">Total</span>
        </td>
        <td>
            <span class="is-size-7 has-text-weight-bold has-text-white">{{
                spellDisplayValues.map(item => item.totalCasts).reduce((prev, next) => prev + next)
              }}</span>
        </td>
        <td>
            <span class="is-size-7 has-text-weight-bold has-text-white">{{
                Math.round(spellDisplayValues.map(item => item.totalDotDmg).reduce((prev, next) => prev + next))
              }}</span>
        </td>
        <td>
            <span class="is-size-7 has-text-weight-bold has-text-white">{{
                Math.round(spellDisplayValues.map(item => item.totalDirectDmg).reduce((prev, next) => prev + next))
              }}</span>
        </td>
        <td>
            <span class="is-size-7 has-text-weight-bold has-text-white">{{
                Math.round(spellDisplayValues.map(item => item.totalDmg).reduce((prev, next) => prev + next))
              }}</span>
        </td>
        <td>
            <span class="is-size-7 has-text-weight-bold has-text-white">{{
                Math.round(10 * spellDisplayValues.map(item => item.encounterDPS).reduce((prev, next) => prev + next)) /
                10
              }}</span>
        </td>
      </tr>
      </tbody>
    </table>
    <br />
  </div>
</template>

<style scoped>
td {
  border: 0px;
  width: 20%;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import SpellDisplayValues from '@/wow/interface/SpellDisplayValues'

const Props = Vue.extend({
  props: {
    spellDisplayValues: Array as () => SpellDisplayValues[]
  }
})

@Component
export default class DamageSpells extends Props {
  castTimeTooltip =
    'This is the effective cast time of the spell.  This includes any haste effects and factors in resist chance by adding (chance of resist)*(cast time) for up to 5 consecutive resists.  Also includes cast/server lag.'
}
</script>
