<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <b-field label="Master Conjuror" label-position="on-border">
          <input
            v-model.number="options.character.talents.demonology.masterConjurer"
            class="input is-size-7-mobile"
            max="3"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Improved Health Funnel" label-position="on-border">
          <input
            v-model.number="options.character.talents.demonology.improvedHealthFunnel"
            class="input is-size-7-mobile"
            max="2"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Improved Succubus" label-position="on-border">
          <input
            v-model.number="options.character.talents.demonology.improvedSuccubus"
            class="input is-size-7-mobile"
            max="3"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Improved enslave demon" label-position="on-border">
          <input
            v-model.number="options.character.talents.demonology.improvedEnslaveDemon"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="Improved Imp" label-position="on-border">
          <input
            v-model.number="options.character.talents.demonology.improvedImp"
            class="input is-size-7-mobile"
            max="3"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Improved Voidwalker" label-position="on-border">
          <input
            v-model.number="options.character.talents.demonology.improvedVoidwalker"
            class="input is-size-7-mobile"
            max="3"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Fel Domination" label-position="on-border">
          <input
            v-model.number="options.character.talents.demonology.felDomination"
            class="input is-size-7-mobile"
            max="1"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Master Summoner" label-position="on-border">
          <input
            v-model.number="options.character.talents.demonology.masterSummoner"
            class="input is-size-7-mobile"
            max="2"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Demonic Sacrifice" label-position="on-border">
          <input
            v-model.number="options.character.talents.demonology.demonicSacrifice"
            class="input is-size-7-mobile"
            max="1"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Soul Link" label-position="on-border">
          <input
            v-model.number="options.character.talents.demonology.soulLink"
            class="input is-size-7-mobile"
            max="1"
            min="0"
            type="number"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="Demonic Embrace" label-position="on-border">
          <input
            v-model.number="options.character.talents.demonology.demonicEmbrace"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Fel Intellect" label-position="on-border">
          <input
            v-model.number="options.character.talents.demonology.felIntellect"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Fel Stamina" label-position="on-border">
          <input
            v-model.number="options.character.talents.demonology.felStamina"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Unholy Power" label-position="on-border">
          <input
            v-model.number="options.character.talents.demonology.unholyPower"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Master Demonologist" label-position="on-border">
          <input
            v-model.number="options.character.talents.demonology.masterDemonologist"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Demonic Aegis" label-position="on-border">
          <input
            v-model.number="options.character.talents.demonology.demonicAegis"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
      </div>
    </div>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import OptionsInterface from '../wow/interface/Options'

const Props = Vue.extend({
  props: {
    options: Object as () => OptionsInterface
  }
})

@Component
export default class DemonologyTalents extends Props {}
</script>
