<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Improved Firebolt" label-position="on-border">
          <input
            v-model.number="options.character.talents.destruction.improvedFirebolt"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Intensity" label-position="on-border">
          <input
            v-model.number="options.character.talents.destruction.intensity"
            class="input is-size-7-mobile"
            max="2"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Pyroclasm" label-position="on-border">
          <input
            v-model.number="options.character.talents.destruction.pyroclasm"
            class="input is-size-7-mobile"
            max="2"
            min="0"
            type="number"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="Improved Shadow Bolt" label-position="on-border">
          <input
            v-model.number="options.character.talents.destruction.improvedShadowBolt"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Bane" label-position="on-border">
          <input
            v-model.number="options.character.talents.destruction.bane"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Improved Lash of Pain" label-position="on-border">
          <input
            v-model.number="options.character.talents.destruction.improvedLashOfPain"
            class="input is-size-7-mobile"
            max="2"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Destructive Reach" label-position="on-border">
          <input
            v-model.number="options.character.talents.destruction.destructiveReach"
            class="input is-size-7-mobile"
            max="2"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Improved Immolate" label-position="on-border">
          <input
            v-model.number="options.character.talents.destruction.improvedImmolate"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Conflagrate" label-position="on-border">
          <input
            v-model.number="options.character.talents.destruction.conflagrate"
            class="input is-size-7-mobile"
            max="1"
            min="0"
            type="number"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="Cataclysm" label-position="on-border">
          <input
            v-model.number="options.character.talents.destruction.cataclysm"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Aftermath" label-position="on-border">
          <input
            v-model.number="options.character.talents.destruction.aftermath"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Devastation" label-position="on-border">
          <input
            v-model.number="options.character.talents.destruction.devastation"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Ruin" label-position="on-border">
          <input
            v-model.number="options.character.talents.destruction.ruin"
            class="input is-size-7-mobile"
            max="1"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Emberstorm" label-position="on-border">
          <input
            v-model.number="options.character.talents.destruction.emberstorm"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Shadowburn" label-position="on-border">
          <input
            v-model.number="options.character.talents.destruction.shadowburn"
            class="input is-size-7-mobile"
            max="1"
            min="0"
            type="number"
          />
        </b-field>
        <b-field label="Improved Searing Pain" label-position="on-border">
          <input
            v-model.number="options.character.talents.destruction.improvedSearingPain"
            class="input is-size-7-mobile"
            max="5"
            min="0"
            type="number"
          />
        </b-field>
      </div>
    </div>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import OptionsInterface from '../wow/interface/Options'

const Props = Vue.extend({
  props: {
    options: Object as () => OptionsInterface
  }
})

@Component
export default class DestructionTalents extends Props {}
</script>
