<template>
  <div>
    <div class="gearSelect">
      <b-modal :active.sync="showItemSearch" scroll="keep">
        <div class="container is-fluid">
          <b-table
            :data="item_data"
            :paginated="paginated"
            :pagination-simple="true"
            aria-current-label="Current page"
            aria-next-label="Next page"
            aria-page-label="Page"
            aria-previous-label="Previous page"
            default-sort="['score', 'desc']"
            default-sort-direction="desc"
            hoverable
            per-page="15"
            sort-icon="arrow-up"
            sort-icon-size="is-small"
            @select="selectItem"
          >
            <template slot-scope="props">
              <b-table-column class="name" field="name" label="Name" searchable sortable width="400">
                <img :src="getIconFullPath(props.row)" />
                <span>{{ props.row.name }}</span>
                <!-- TODO figure out why when clicking this is going to different items -->
                <!-- <a class="turtle-link" :href="props.row.url" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a> -->
                <GearItemTooltip
                  :itemData="getItem(props.row)"
                  :itemSetData="{ virtualItem: undefined }"
                  :style="toolTipStyle"
                />
              </b-table-column>
              <b-table-column field="level" label="Item Level" numeric sortable>
                {{ props.row.level }}
              </b-table-column>
              <b-table-column field="effects.spellPower" label="Spell Power" numeric sortable>
                {{ props.row.effects.spellPower }}
              </b-table-column>
              <b-table-column :field="magicSchoolSPField" :label="magicSchoolSPLabel" numeric sortable>
                {{ getMagicSchoolSPValue(props.row.effects) }}
              </b-table-column>
              <b-table-column field="effects.spellHit" label="Spell Hit" numeric sortable>
                {{ props.row.effects.spellHit }}
              </b-table-column>
              <b-table-column field="effects.spellCrit" label="Spell Crit" numeric sortable>
                {{ props.row.effects.spellCrit }}
              </b-table-column>
              <b-table-column field="effects.spellHaste" label="Spell Haste" numeric sortable>
                {{ props.row.effects.spellHaste }}
              </b-table-column>
              <b-table-column field="intellect" label="Int" numeric sortable>
                {{ props.row.intellect }}
              </b-table-column>
              <b-table-column field="stamina" label="Stam" numeric sortable>
                {{ props.row.stamina }}
              </b-table-column>
              <b-table-column
                :class="{ green: props.row.setBonusScore > 0 }"
                :label="scoreLabel"
                field="score"
                numeric
                sortable
              >
                {{ props.row.score }}
              </b-table-column>
            </template>

            <template slot="footer">
              <hr />
              <p>Current item: {{ currentItemName }}</p>
              <p>Total Score: {{ currentItemTotalScore }}</p>
              <p v-if="currentItemPartOfSet">Set Bonus Score: {{ currentItemSetScore }}</p>
              <GearButtonBar
                :options="buttonBarOptions()"
                @unlock-gear="unlockItem"
                @lock-gear="lockItem"
                @unequip-gear="unequipItem"
              />
            </template>
          </b-table>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<style scoped>
.name img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.name .wow-item {
  visibility: hidden;
  background-color: black;
}

.name:hover .wow-item {
  visibility: visible;
}

.turtle-link {
  margin-left: 5px;
}

.green {
  color: lightgreen;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'

import GearButtonBar from './GearButtonBar.vue'
import ItemJSON from '@/wow/interface/ItemJSON'
import Encounter from '@/wow/class/Encounter'
import GearButtonBarOptions from '@/wow/interface/GearButtonBarOptions'
import Item from '@/wow/class/Item'
import ItemSlot from '@/wow/enum/ItemSlot'
import MagicSchool from '@/wow/enum/MagicSchool'
import Effects from '@/wow/interface/Effects'
import GearItemTooltip from './GearItemTooltip.vue'
import TargetType from '@/wow/enum/TargetType'

const GearItemSelectProps = Vue.extend({
  props: {
    encounter: Encounter,
    targetType: Number as () => TargetType,
    searchSlot: String as () => ItemSlot
  }
})

@Component({
  components: { GearButtonBar, GearItemTooltip }
})
export default class GearItemSelect extends GearItemSelectProps {
  props: any
  wow = wow
  paginated = true

  toolTipStyle = {
    zIndex: 999,
    left: '60px'
  }

  get currentItemPartOfSet() {
    const item = this.encounter.equipment.getItemForSlot(this.searchSlot)
    return item ? item.isPartOfItemSet : false
  }

  get currentItemName() {
    const item = this.encounter.equipment.getItemForSlot(this.searchSlot)
    return item ? item.name : ''
  }

  get currentItemTotalScore() {
    const item = this.encounter.equipment.getItemForSlot(this.searchSlot)
    if (item) {
      return item.itemJSON.score
    } else {
      return 0
    }
  }

  get currentItemSetScore() {
    const item = this.encounter.equipment.getItemForSlot(this.searchSlot)
    if (item && item.isPartOfItemSet) {
      return item.itemJSON.setBonusScore
    } else {
      return 0
    }
  }

  get showItemSearch() {
    if (this.encounter.options.itemSearchSlot !== undefined) {
      return true
    }
    return false
  }

  set showItemSearch(value: boolean) {
    if (value === false) {
      this.encounter.options.itemSearchSlot = undefined
    }
  }

  get item_data() {
    // update scoreInfo so that we have the latest values
    // TODO make this cleaner
    this.encounter.spellCast.updateScoreInfo(this.encounter.equipment.scoreInfo)

    let slot = this.searchSlot
    if (slot === ItemSlot.Mainhand && this.encounter.equipment.isEquipped(ItemSlot.Offhand)) {
      slot = ItemSlot.Onehand
    }
    return this.encounter.equipment.optimalItemsForSlot(slot, this.encounter.equipment.scoreInfo)
  }

  get magicSchoolSPField() {
    switch (this.encounter.spellCast.magicSchoolForSpell) {
      case MagicSchool.Arcane:
        return 'effects.arcaneSpellPower'
      case MagicSchool.Fire:
        return 'effects.fireSpellPower'
      case MagicSchool.Frost:
        return 'effects.frostSpellPower'
      case MagicSchool.Nature:
        return 'effects.natureSpellPower'
      case MagicSchool.Shadow:
        return 'effects.shadowSpellPower'
      default:
        throw new Error('Unknown magic school')
    }
  }

  get magicSchoolSPLabel() {
    switch (this.encounter.spellCast.magicSchoolForSpell) {
      case MagicSchool.Arcane:
        return 'Arcane SP'
      case MagicSchool.Fire:
        return 'Fire SP'
      case MagicSchool.Frost:
        return 'Frost SP'
      case MagicSchool.Nature:
        return 'Nature SP'
      case MagicSchool.Shadow:
        return 'Shadow SP'
      default:
        throw new Error('Unknown magic school')
    }
  }

  get scoreLabel() {
    if (this.searchSlot === ItemSlot.Trinket || this.searchSlot === ItemSlot.Trinket2) {
      return 'Approx. Score'
    }

    return 'Score'
  }

  buttonBarOptions(): GearButtonBarOptions {
    return {
      showLock: !this.isItemLocked(),
      showUnlock: this.isItemLocked(),
      showUnequip: this.isItemEquipped(),
      showImport: false,
      showShare: false,
      showFillItems: false
    }
  }

  isItemEquipped() {
    return this.encounter.equipment.isEquipped(this.searchSlot)
  }

  isItemLocked() {
    return this.encounter.equipment.isLocked(this.searchSlot)
  }

  lockItem() {
    this.encounter.equipment.lockItem(this.searchSlot)
    this.encounter.options.itemSearchSlot = undefined // close the modal
  }

  unlockItem() {
    this.encounter.equipment.unlockItem(this.searchSlot)
    this.encounter.options.itemSearchSlot = undefined // close the modal
  }

  unequipItem() {
    this.encounter.equipment.setItem(this.searchSlot, undefined)
    this.encounter.options.itemSearchSlot = undefined // close the modal
  }

  selectItem(itemJSON: ItemJSON) {
    this.encounter.equipment.setItem(this.searchSlot, new Item(this.searchSlot, itemJSON))
    this.encounter.options.itemSearchSlot = undefined // close the modal
  }

  getIcon(itemJSON: ItemJSON): string {
    return `${itemJSON.icon}`
  }

  getIconFullPath(itemJSON: ItemJSON): string {
    return process.env.BASE_URL + 'wow-icons/' + this.getIcon(itemJSON)
  }

  getItem(itemJSON: ItemJSON): Item {
    return new Item(this.searchSlot, itemJSON)
  }

  getMagicSchoolSPValue(effects: Effects) {
    switch (this.encounter.spellCast.magicSchoolForSpell) {
      case MagicSchool.Arcane:
        return effects.arcaneSpellPower
      case MagicSchool.Fire:
        return effects.fireSpellPower
      case MagicSchool.Frost:
        return effects.frostSpellPower
      case MagicSchool.Nature:
        return effects.natureSpellPower
      case MagicSchool.Shadow:
        return effects.shadowSpellPower
      default:
        throw new Error('Unknown magic school')
    }
  }
}
</script>
