<template>
  <div>
    <template v-if="isLeftColumn">
      <div class="gear-item">
        <div class="gear-item-image">
          <div
            class="image-wrapper"
            @click="mouseClick"
            @mouseenter="mouseEnter"
            @mouseleave="mouseLeave"
            @mousemove="mouseMove"
          >
            <figure class="image is-48x48">
              <img :src="item ? item.iconFullPath : emptySlotIcon" style="zIndex: 3" />
            </figure>
            <font-awesome-icon
              v-if="isLocked"
              :icon="['fas', 'lock']"
              :style="{ padding: '1px', color: 'white' }"
              class="is-overlay"
            />
          </div>
        </div>
        <div class="gear-item-text">
          <p
            :class="item ? item.qualityName.toLowerCase() : 'normal'"
            class="gear-item-text-name left-text has-text-left is-size-7-mobile"
          >
            <span @click="mouseClick">
              {{ item ? item.name : itemSlot }}
            </span>

            <a v-if="item" class="turtle-link" target="_blank" v-bind:href="item.itemJSON.url">
              <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
            </a>
          </p>
          <p
            v-if="item && item.hasEnchant"
            :class="item.enchantClass"
            class="gear-item-text-enchant left-text has-text-left is-size-7"
            @click="enchantClick"
          >
            {{ item.enchantText }}
            <font-awesome-icon icon="pencil-alt" size="lg" style="color: grey;" transform="up-4 left-2" />
            <font-awesome-icon
              v-if="isEnchantLocked"
              :icon="['fas', 'lock']"
              :style="{ padding: '1px', color: 'white' }"
            />
          </p>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="gear-item gear-item-right">
        <div class="gear-item-text">
          <p
            :class="item ? item.qualityName.toLowerCase() : 'normal'"
            class="gear-item-text-name right-text has-text-right is-size-7-mobile"
          >
            <a v-if="item" class="turtle-link" target="_blank" v-bind:href="item.itemJSON.url">
              <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
            </a>
            <span @click="mouseClick">
              {{ item ? item.name : itemSlot }}
            </span>
          </p>
          <p
            v-if="item && item.hasEnchant"
            :class="item.enchantClass"
            class="gear-item-text-enchant right-text has-text-right is-size-7"
            @click="enchantClick"
          >
            <font-awesome-icon
              v-if="isEnchantLocked"
              :icon="['fas', 'lock']"
              :style="{ padding: '1px', color: 'white' }"
            />
            <font-awesome-icon icon="pencil-alt" size="lg" style="color: grey;" transform="up-4 left-2" />
            {{ item ? item.enchantText : '' }}
          </p>
        </div>
        <div class="gear-item-image">
          <div
            class="image-wrapper"
            @click="mouseClick"
            @mouseenter="mouseEnter"
            @mouseleave="mouseLeave"
            @mousemove="mouseMove"
          >
            <figure class="image is-48x48">
              <img :src="item ? item.iconFullPath : emptySlotIcon" style="zIndex: 1" />
            </figure>
            <font-awesome-icon
              v-if="item && item.locked"
              :icon="['fas', 'lock']"
              :style="{ padding: '1px', color: 'white' }"
              class="is-overlay"
            />
          </div>
        </div>
      </div>
    </template>
    <template v-if="item">
      <GearItemTooltip
        :class="{ hidden: !showToolTip }"
        :itemData="item"
        :itemSetData="itemSetData"
        :style="toolTipStyle"
      />
    </template>
  </div>
</template>

<style scoped>
.gear-item-right {
  text-align: right;
  justify-content: flex-end;
}

.gear-item {
  display: flex;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.turtle-link {
  margin-left: 5px;
  margin-right: 5px;
}

.gear-item-image {
  display: block;
  position: relative;
  flex-shrink: 0;
  padding: 2px;
}

.gear-item-image:hover,
.gear-item-text-name:hover {
  cursor: pointer;
}

.gear-item-text {
  overflow: hidden;
}

.empty-gear-text {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.right-text {
  margin-right: 0.625rem;
}

.left-text {
  margin-left: 0.625rem;
}

.gear-item-text-name {
  margin-bottom: 0.25rem;

  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gear-item-text-enchant {
  margin-bottom: 0.25rem;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gear-item-text-enchant:hover {
  cursor: pointer;
}

.fa-pencil-alt {
  margin-top: 5px;
  padding-top: 5px;
  margin-left: 2px;
}

.image-wrapper {
  border: 0.0625rem solid #595959;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as globalData } from '../wow'
import GearItemTooltip from './GearItemTooltip.vue'
import OptionsInterface from '../wow/interface/Options'
import ItemSlot, { getEmptySlotIcon } from '@/wow/enum/ItemSlot'
import Item from '@/wow/class/Item'
import ItemSetData from '@/wow/interface/ItemSetData'

const Props = Vue.extend({
  props: {
    options: Object as () => OptionsInterface,
    itemSlot: String as () => ItemSlot,
    item: Object as () => Item,
    itemSetData: Object as () => ItemSetData[]
  }
})

@Component({
  components: { GearItemTooltip }
})
export default class GearItem extends Props {
  globalData = globalData
  showToolTip = false
  toolTipStyle = {
    zIndex: 999,
    position: 'fixed',
    top: '0px',
    left: '0px'
  }

  get isLocked() {
    return this.item ? this.item.locked : false
  }

  get isEnchantLocked() {
    return this.item ? this.item.enchantLocked : false
  }

  get emptySlotIcon() {
    return getEmptySlotIcon(this.itemSlot)
  }

  get isLeftColumn() {
    switch (this.itemSlot) {
      case globalData.ItemSlot.Head:
      case globalData.ItemSlot.Neck:
      case globalData.ItemSlot.Shoulder:
      case globalData.ItemSlot.Back:
      case globalData.ItemSlot.Chest:
      case globalData.ItemSlot.Wrist:
      case globalData.ItemSlot.Mainhand:
      case globalData.ItemSlot.Offhand:
      case globalData.ItemSlot.Ranged:
        return true
      default:
        return false
    }
  }

  mouseClick(): void {
    this.$emit('item-clicked', this.itemSlot, this.item)
  }

  enchantClick(): void {
    this.options.enchantSearchSlot = this.itemSlot
  }

  mouseEnter(): void {
    if (this.item && globalData.Tools.isMobile()) {
      this.showToolTip = true
    }
  }

  mouseMove(event: any): void {
    if (this.isLeftColumn) {
      this.toolTipStyle.left = event.clientX + 40 + 'px'
      this.toolTipStyle.top = event.clientY - 30 + 'px'
    } else {
      this.toolTipStyle.left = event.clientX - 300 + 'px'
      this.toolTipStyle.top = event.clientY - 30 + 'px'
    }
  }

  mouseLeave(_event: any): void {
    this.showToolTip = false
  }
}
</script>
