<template>
  <aside :data-quality="itemData.qualityName" class="wow-item">
    <header class="wow-item__header">
      <p class="header__title">{{ itemData.name }}</p>
      <p class="header__item-level">Item Level {{ itemData.level }}</p>
      <p class="header__binds">{{ itemData.bindText }}</p>
      <p v-if="itemData.isUnique" class="header__unique">Unique</p>
    </header>
    <section class="wow-item__type">
      <p class="type__slot">{{ itemData.itemJSON.slot }}</p>
    </section>

    <section class="wow-item__stats">
      <p v-if="itemData.isWeapon" class="stats__damage-armor">
        <span class="value">{{ itemData.dmgText }} Damage</span>
        <!-- todo fix flex display for this -->
        <span class="value speed_text">{{ itemData.speedText }} Speed</span>
      </p>
      <p v-if="itemData.isWeapon" class="stats__dps">
        (
        <span class="value">{{ itemData.dpsText }}</span> damage per second)
      </p>

      <p v-if="itemData.isArmor && itemData._armor > 0" class="stats__armor">{{ itemData._armor }} Armor</p>

      <div class="stats__list">
        <p v-if="itemData.stamina" class="stats__list-item stats__stamina">
          {{ itemData.stamina > 0 ? '+' + itemData.stamina : itemData.stamina }} Stamina
        </p>
        <p v-if="itemData.itemJSON.strength" class="stats__list-item stats__strength">
          {{ itemData.itemJSON.strength > 0 ? '+' + itemData.itemJSON.strength : itemData.itemJSON.strength }} Strength
        </p>
        <p v-if="itemData.itemJSON.agility" class="stats__list-item stats__agility">
          {{ itemData.itemJSON.agility > 0 ? '+' + itemData.itemJSON.agility : itemData.itemJSON.agility }} Agility
        </p>
        <p v-if="itemData.intellect" class="stats__list-item stats__intellect">
          {{ itemData.intellect > 0 ? '+' + itemData.intellect : itemData.intellect }} Intellect
        </p>
        <p v-if="itemData.spirit" class="stats__list-item stats__spirit">
          {{ itemData.spirit > 0 ? '+' + itemData.spirit : itemData.spirit }} Spirit
        </p>
        <p v-if="itemData.itemJSON.fireRes" class="stats__list-item stats__fireRes">
          {{ itemData.itemJSON.fireRes > 0 ? '+' + itemData.itemJSON.fireRes : itemData.itemJSON.fireRes }} Fire
          Resistance
        </p>
        <p v-if="itemData.itemJSON.frostRes" class="stats__list-item stats__frostRes">
          {{ itemData.itemJSON.frostRes > 0 ? '+' + itemData.itemJSON.frostRes : itemData.itemJSON.frostRes }} Frost
          Resistance
        </p>
        <p v-if="itemData.itemJSON.natureRes" class="stats__list-item stats__natureRes">
          {{ itemData.itemJSON.natureRes > 0 ? '+' + itemData.itemJSON.natureRes : itemData.itemJSON.natureRes }} Nature
          Resistance
        </p>
        <p v-if="itemData.itemJSON.shadowRes" class="stats__list-item stats__shadowRes">
          {{ itemData.itemJSON.shadowRes > 0 ? '+' + itemData.itemJSON.shadowRes : itemData.itemJSON.shadowRes }} Shadow
          Resistance
        </p>
        <p v-if="itemData.itemJSON.arcaneRes" class="stats__list-item stats__arcaneRes">
          {{ itemData.itemJSON.arcaneRes > 0 ? '+' + itemData.itemJSON.arcaneRes : itemData.itemJSON.arcaneRes }} Arcane
          Resistance
        </p>
      </div>
    </section>

    <section class="wow-item__info">
      <p v-if="itemData.durability" class="info__durability">
        Durability: {{ itemData.durability }} / {{ itemData.durability }}
      </p>

      <p v-for="hit in itemData.chanceOnHitList" :key="hit" class="info__chance-on-hit">Chance on hit: {{ hit }}</p>
      <p v-if="itemData.allowableClassesText" class="info__class-requirement">
        Classes:
        <span class="value">{{ itemData.allowableClassesText }}</span>
      </p>
    </section>

    <section class="wow-item__effects">
      <p v-for="effect in itemData.toolTipText" :key="effect" class="effects__bonus">{{ effect }}</p>
      <p v-for="effect in itemData.itemJSON.effects.custom" :key="effect" class="effects__bonus">{{ effect }}</p>
    </section>

    <section v-if="itemData.isPartOfItemSet" class="wow-itemset__items">
      <hr />
      <p class="set_name">
        {{ itemData.itemJSON.setName }}
      </p>
      <p v-for="name in equippedItemsInSet" :key="name" class="equipped_item">
        {{ name }}
      </p>
      <p v-for="name in missingItemsInSet" :key="name" class="missing_item">
        {{ name }}
      </p>
    </section>

    <section v-if="hasVirtualItems" class="wow-itemset__effects">
      <div v-for="virtualItem in itemSetData.virtualItems" :key="'itemset' + virtualItem.name">
        <p class="set_num_name">{{ virtualItem.name }}</p>
        <p v-for="effect in virtualItem.toolTipText" :key="'itemset' + effect" class="set_effects__bonus">
          {{ effect }}
        </p>
        <p v-for="effect in virtualItem.itemJSON.effects.custom" :key="'itemset' + effect" class="set_effects__bonus">
          {{ effect }} (currently not included in calculations)
        </p>
      </div>
    </section>
    <hr />
    <section class="wow-item__obtain_info">
      <p v-if="itemData.itemJSON.obtainFrom" class="info__level-requirement">
        {{ itemData.itemJSON.obtainFrom }}
        <span v-if="itemData.itemJSON.seeAlsoNum > 1">(and {{ itemData.itemJSON.seeAlsoNum - 1 }} others)</span>
      </p>
      <p v-if="itemData.itemJSON.dropChance" class="info__level-requirement">
        Drop Chance: {{ itemData.itemJSON.dropChance }}%
      </p>
      <p v-if="itemData.itemJSON.location" class="info__level-requirement">{{ itemData.itemJSON.location }}</p>
    </section>
  </aside>
</template>

<style scoped>
.speed_text {
  text-align: right;
  padding-left: 20px;
}

.wow-itemset__effects .set_num_name {
  margin-top: 5px;
}

hr {
  opacity: 0.5;
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Item from '@/wow/class/Item'
import ItemSetData from '@/wow/interface/ItemSetData'

const Props = Vue.extend({
  props: {
    itemData: Item,
    itemSetData: Object as () => ItemSetData
  }
})

@Component
export default class GearItemTooltip extends Props {
  get hasVirtualItems() {
    return this.itemSetData.virtualItems && this.itemSetData.virtualItems.length > 0
  }

  get equippedItemsInSet() {
    if (this.itemSetData.virtualItems && this.itemSetData.virtualItems.length > 0) {
      return this.itemSetData.virtualItems[0].itemJSON.setItems
    }

    return Array<string>()
  }

  get missingItemsInSet() {
    if (this.hasVirtualItems) {
      const equippedItems = this.equippedItemsInSet

      return this.itemData.itemJSON.setItems.filter(item => {
        return !equippedItems.includes(item)
      })
    }

    return this.itemData.itemJSON.setItems
  }
}
</script>
