<template>
  <div>
    <div class="enchantSelect">
      <b-modal :active.sync="showEnchants" scroll="keep">
        <div class="container is-fluid">
          <b-table
            :columns="enchant_columns"
            :data="enchant_data"
            :paginated="paginated"
            :pagination-simple="true"
            aria-current-label="Current page"
            aria-next-label="Next page"
            aria-page-label="Page"
            aria-previous-label="Previous page"
            default-sort="['score', 'desc']"
            hoverable
            per-page="10"
            sort-icon="arrow-up"
            sort-icon-size="is-small"
            @select="selectEnchant"
          >
            <template slot="footer">
              <hr />
              Current enchant: {{ currentEnchantName }}
              <GearButtonBar
                :options="buttonBarOptions()"
                @unlock-gear="unlockGear"
                @unlock-enchants="unlockEnchant"
                @lock-gear="lockEnchant"
                @unequip-gear="unequipEnchant"
              />
            </template>
          </b-table>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import Encounter from '@/wow/class/Encounter'
import ItemSlot from '@/wow/enum/ItemSlot'
import EnchantJSON from '@/wow/interface/EnchantJSON'
import GearButtonBarOptions from '@/wow/interface/GearButtonBarOptions'
import GearButtonBar from './GearButtonBar.vue'
import MagicSchool from '@/wow/enum/MagicSchool'

const GearEnchantSelectProps = Vue.extend({
  props: {
    encounter: Encounter,
    searchSlot: String as () => ItemSlot
  }
})

@Component({
  components: { GearButtonBar }
})
export default class GearEnchantSelect extends GearEnchantSelectProps {
  paginated = true

  get currentEnchantName() {
    const item = this.encounter.equipment.getItemForSlot(this.searchSlot)
    return item ? item.enchantText : ''
  }

  get showEnchants() {
    if (this.encounter.options.enchantSearchSlot) {
      return true
    }
    return false
  }

  set showEnchants(_slot) {
    this.encounter.options.enchantSearchSlot = undefined
  }

  get enchant_data() {
    // update scoreInfo so that we have the latest spellpower values
    // TODO make this cleaner
    this.encounter.spellCast.updateScoreInfo(this.encounter.equipment.scoreInfo)

    return this.encounter.equipment.optimalEnchantsForSlot(this.searchSlot)
  }

  get magicSchoolSPField() {
    switch (this.encounter.spellCast.magicSchoolForSpell) {
      case MagicSchool.Arcane:
        return 'effects.arcaneSpellPower'
      case MagicSchool.Fire:
        return 'effects.fireSpellPower'
      case MagicSchool.Frost:
        return 'effects.frostSpellPower'
      case MagicSchool.Nature:
        return 'effects.natureSpellPower'
      case MagicSchool.Shadow:
        return 'effects.shadowSpellPower'
      default:
        throw new Error('Unknown magic school')
    }
  }

  get magicSchoolSPLabel() {
    switch (this.encounter.spellCast.magicSchoolForSpell) {
      case MagicSchool.Arcane:
        return 'Arcane SP'
      case MagicSchool.Fire:
        return 'Fire SP'
      case MagicSchool.Frost:
        return 'Frost SP'
      case MagicSchool.Nature:
        return 'Nature SP'
      case MagicSchool.Shadow:
        return 'Shadow SP'
      default:
        throw new Error('Unknown magic school')
    }
  }

  get enchant_columns() {
    return [
      {
        field: 'name',
        label: 'Name',
        width: '300',
        numeric: false,
        sortable: true,
        searchable: true
      },
      {
        field: 'text',
        label: 'Desc',
        width: '300',
        numeric: false,
        sortable: true,
        searchable: false
      },
      {
        field: 'effects.spellPower',
        label: 'Spell Dmg',
        width: '20',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: this.magicSchoolSPField,
        label: this.magicSchoolSPLabel,
        width: '20',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'effects.spellHit',
        label: 'Spell Hit',
        width: '20',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'effects.spellCrit',
        label: 'Spell Crit',
        width: '20',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'effects.spellHaste',
        label: 'Spell Haste',
        width: '20',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'effects.intellect',
        label: 'Int',
        width: '20',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'effects.stamina',
        label: 'Stam',
        width: '20',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'score',
        label: 'score',
        width: '20',
        numeric: true,
        sortable: true,
        searchable: false
      }
    ]
  }

  buttonBarOptions(): GearButtonBarOptions {
    return {
      showLock: !this.isEnchantLocked(),
      showUnlock: this.isEnchantLocked(),
      showUnequip: this.isEnchantEquipped(),
      showImport: false,
      showShare: false,
      showFillItems: false
    }
  }

  isEnchantEquipped() {
    const item = this.encounter.equipment.getItemForSlot(this.searchSlot)
    return item ? item.enchantId > 0 : false
  }

  isEnchantLocked() {
    const item = this.encounter.equipment.getItemForSlot(this.searchSlot)
    return item ? item.locked : false
  }

  unequipEnchant() {
    this.encounter.equipment.unlockEnchant(this.searchSlot)
    this.encounter.equipment.unequipEnchant(this.searchSlot)
    this.encounter.options.enchantSearchSlot = undefined
  }

  unlockGear() {
    this.encounter.equipment.unlockItem(this.searchSlot)
    this.encounter.options.enchantSearchSlot = undefined
  }

  unlockEnchant() {
    this.encounter.equipment.unlockEnchant(this.searchSlot)
    this.encounter.options.enchantSearchSlot = undefined
  }

  lockEnchant() {
    const item = this.encounter.equipment.getItemForSlot(this.searchSlot)
    if (item) {
      item.enchantLocked = true
      this.encounter.options.enchantSearchSlot = undefined
    }
  }

  selectEnchant(enchantJSON: EnchantJSON) {
    this.encounter.equipment.setEnchant(this.searchSlot, enchantJSON)
    this.encounter.options.enchantSearchSlot = undefined
  }
}
</script>
