<template>
  <div>
    <div v-bind:class="[hideLockIcons ? 'flash-locks' : '']">
      <div class="gear">
        <div class="gear-left">
          <GearItem
            :item="encounter.equipment.items.head"
            :itemSetData="getItemSetDataForItem(encounter.equipment.items.head)"
            :itemSlot="globalData.ItemSlot.Head"
            :options="encounter.options"
            @item-clicked="itemClicked"
          />
          <GearItem
            :item="encounter.equipment.items.neck"
            :itemSetData="getItemSetDataForItem(encounter.equipment.items.neck)"
            :itemSlot="globalData.ItemSlot.Neck"
            :options="encounter.options"
            @item-clicked="itemClicked"
          />
          <GearItem
            :item="encounter.equipment.items.shoulder"
            :itemSetData="getItemSetDataForItem(encounter.equipment.items.shoulder)"
            :itemSlot="globalData.ItemSlot.Shoulder"
            :options="encounter.options"
            @item-clicked="itemClicked"
          />
          <GearItem
            :item="encounter.equipment.items.back"
            :itemSetData="getItemSetDataForItem(encounter.equipment.items.back)"
            :itemSlot="globalData.ItemSlot.Back"
            :options="encounter.options"
            @item-clicked="itemClicked"
          />

          <GearItem
            :item="encounter.equipment.items.chest"
            :itemSetData="getItemSetDataForItem(encounter.equipment.items.chest)"
            :itemSlot="globalData.ItemSlot.Chest"
            :options="encounter.options"
            @item-clicked="itemClicked"
          />
          <GearItem
            :item="encounter.equipment.items.wrist"
            :itemSetData="getItemSetDataForItem(encounter.equipment.items.wrist)"
            :itemSlot="globalData.ItemSlot.Wrist"
            :options="encounter.options"
            @item-clicked="itemClicked"
          />
          <GearItem
            :item="encounter.equipment.items.mainhand"
            :itemSetData="getItemSetDataForItem(encounter.equipment.items.mainhand)"
            :itemSlot="globalData.ItemSlot.Mainhand"
            :options="encounter.options"
            @item-clicked="itemClicked"
          />
          <GearItem
            :item="encounter.equipment.items.offhand"
            :itemSetData="getItemSetDataForItem(encounter.equipment.items.offhand)"
            :itemSlot="globalData.ItemSlot.Offhand"
            :options="encounter.options"
            @item-clicked="itemClicked"
          />
          <GearItem
            :item="encounter.equipment.items.ranged"
            :itemSetData="getItemSetDataForItem(encounter.equipment.items.ranged)"
            :itemSlot="globalData.ItemSlot.Ranged"
            :options="encounter.options"
            @item-clicked="itemClicked"
          />
        </div>
        <div class="gear-center"></div>
        <div class="gear-right">
          <GearItem
            :item="encounter.equipment.items.hands"
            :itemSetData="getItemSetDataForItem(encounter.equipment.items.hands)"
            :itemSlot="globalData.ItemSlot.Hands"
            :options="encounter.options"
            @item-clicked="itemClicked"
          />
          <GearItem
            :item="encounter.equipment.items.waist"
            :itemSetData="getItemSetDataForItem(encounter.equipment.items.waist)"
            :itemSlot="globalData.ItemSlot.Waist"
            :options="encounter.options"
            @item-clicked="itemClicked"
          />
          <GearItem
            :item="encounter.equipment.items.legs"
            :itemSetData="getItemSetDataForItem(encounter.equipment.items.legs)"
            :itemSlot="globalData.ItemSlot.Legs"
            :options="encounter.options"
            @item-clicked="itemClicked"
          />
          <GearItem
            :item="encounter.equipment.items.feet"
            :itemSetData="getItemSetDataForItem(encounter.equipment.items.feet)"
            :itemSlot="globalData.ItemSlot.Feet"
            :options="encounter.options"
            @item-clicked="itemClicked"
          />
          <GearItem
            :item="encounter.equipment.items.finger"
            :itemSetData="getItemSetDataForItem(encounter.equipment.items.finger)"
            :itemSlot="globalData.ItemSlot.Finger"
            :options="encounter.options"
            @item-clicked="itemClicked"
          />
          <GearItem
            :item="encounter.equipment.items.finger2"
            :itemSetData="getItemSetDataForItem(encounter.equipment.items.finger2)"
            :itemSlot="globalData.ItemSlot.Finger2"
            :options="encounter.options"
            @item-clicked="itemClicked"
          />
          <GearItem
            :item="encounter.equipment.items.trinket"
            :itemSetData="getItemSetDataForItem(encounter.equipment.items.trinket)"
            :itemSlot="globalData.ItemSlot.Trinket"
            :options="encounter.options"
            @item-clicked="itemClicked"
          />
          <GearItem
            :item="encounter.equipment.items.trinket2"
            :itemSetData="getItemSetDataForItem(encounter.equipment.items.trinket2)"
            :itemSlot="globalData.ItemSlot.Trinket2"
            :options="encounter.options"
            @item-clicked="itemClicked"
          />
        </div>
      </div>
    </div>

    <GearButtonBar
      :options="{
        showFillItems: true,
        showImport: true,
        showShare: true,
        showLock: true,
        showUnlock: true,
        showUnequip: true
      }"
      @fill-items="fillItems"
      @share-gear="shareGear"
      @lock-gear="lockGear"
      @unlock-gear="unlockGear"
      @unlock-enchants="unlockEnchants"
      @unequip-gear="unequipGear"
      @import-gear="showImportGear"
    />
    <div class="exportModal">
      <b-modal :active.sync="showShareModal" scroll="keep">
        <p>Copy the link below to share the currently selected options and gear</p>
        <div class="content">
          <b-field>
            <input v-model="exportUrl" class="input is-size-7-mobile" size="50" />
          </b-field>
        </div>
      </b-modal>
    </div>
    <div class="importModal">
      <b-modal :active.sync="showImportGearModal" scroll="keep">
        <div class="container">
          <b-message type="is-info">
            <h1 class="title">Import from turtle armory</h1>
            <div class="import-instructions">
              <input
                v-model="importCharacterName"
                class="input is-size-7-mobile import-input"
                placeholder="Enter a character name"
                size="50"
              />

              <a v-if="hasCharacterName" target="_blank" v-bind:href="armoryApiUrl"
              >Click here to get your character armory information. <br />Hit Ctrl-a or triple click to select
                everything including the { } braces, copy it, and then close the tab.</a
              >

              <hr />
              <input
                v-model="apiResponse"
                class="input is-size-7-mobile import-input"
                placeholder="Paste all text from above here"
                size="50"
              />
              <p>
                Paste all the json text you got from the armory and then click Import
              </p>
            </div>
            <b-button class="is-pulled-right" native-type="submit" type="is-primary" v-on:click.native="importGear">
              Import
            </b-button>
          </b-message>
        </div>
      </b-modal>
    </div>
    <GearItemSelect
      :encounter="encounter"
      :searchSlot="getItemSearchSlot()"
      :targetType="encounter.options.target.type"
    />
    <GearEnchantSelect :encounter="encounter" :searchSlot="getEnchantSearchSlot()" />
  </div>
</template>

<style scoped>
.gear {
  position: relative;
  display: flex;
  padding: 1.25rem;
}

.gear-left {
  max-width: calc(50% - 0.625rem);
  overflow: hidden;
}

.gear-right {
  max-width: calc(50% - 0.625rem);
  overflow: hidden;
}

.gear-center {
  flex-grow: 1;
}

.input {
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>

<style>
.flash-locks .fa-lock {
  display: none;
}

.import-instructions {
  margin-top: 1rem;
}

.import-input {
  color: black;
  background-color: white;
}

.import-input:focus {
  border: 1px solid black;
}

/* iframe { */
/* display: none; */
/* } */
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as globalData } from '../wow'
import GearItem from './GearItem.vue'
import GearItemSelect from './GearItemSelect.vue'
import GearEnchantSelect from './GearEnchantSelect.vue'
import GearButtonBar from './GearButtonBar.vue'
import ItemSlot from '../wow/enum/ItemSlot'
import Query from '@/wow/module/Query'
import Encounter from '@/wow/class/Encounter'
import Item from '@/wow/class/Item'
import ItemSetData from '@/wow/interface/ItemSetData'
import {
  BACK_ENCHANT_KEY,
  BACK_ITEM_KEY,
  CHEST_ENCHANT_KEY,
  CHEST_ITEM_KEY,
  FEET_ENCHANT_KEY,
  FEET_ITEM_KEY,
  FINGER2_ITEM_KEY,
  FINGER_ITEM_KEY,
  HANDS_ENCHANT_KEY,
  HANDS_ITEM_KEY,
  HEAD_ENCHANT_KEY,
  HEAD_ITEM_KEY,
  LEGS_ENCHANT_KEY,
  LEGS_ITEM_KEY,
  MAINHAND_ENCHANT_KEY,
  MAINHAND_ITEM_KEY,
  NECK_ITEM_KEY,
  OFFHAND_ITEM_KEY,
  RANGED_ITEM_KEY,
  SHOULDER_ENCHANT_KEY,
  SHOULDER_ITEM_KEY,
  TRINKET2_ITEM_KEY,
  TRINKET_ITEM_KEY,
  WAIST_ENCHANT_KEY,
  WAIST_ITEM_KEY,
  WRIST_ENCHANT_KEY,
  WRIST_ITEM_KEY
} from '@/wow/module/Constants'
import { ApiResponse } from '@/wow/class/ApiResponse'
import { getItemSlotForApiSlot } from '@/wow/enum/ApiItemSlot'

const GearProps = Vue.extend({
  props: {
    encounter: Encounter
  }
})

@Component({
  components: { GearButtonBar, GearItem, GearItemSelect, GearEnchantSelect }
})
export default class Gear extends GearProps {
  globalData = globalData
  showShareModal = false
  showExportModal = false
  showImportGearModal = false
  showImportFields = false
  paginated = true
  importCharacterName = this.defaultCharacterName()
  importJSON = ''
  apiResponse = ''
  hideLockIcons = false

  get exportUrl() {
    const items = this.encounter.equipment.items
    const data: Record<string, string> = {}
    data['version'] = '2'
    data[HEAD_ITEM_KEY] = items.head ? items.head.id.toString() : ''
    data[HEAD_ENCHANT_KEY] = items.head && items.head.enchantJSON ? items.head.enchantJSON.id.toString() : ''
    data[NECK_ITEM_KEY] = items.neck ? items.neck.id.toString() : ''
    data[SHOULDER_ITEM_KEY] = items.shoulder ? items.shoulder.id.toString() : ''
    data[SHOULDER_ENCHANT_KEY] =
      items.shoulder && items.shoulder.enchantJSON ? items.shoulder.enchantJSON.id.toString() : ''
    data[BACK_ITEM_KEY] = items.back ? items.back.id.toString() : ''
    data[BACK_ENCHANT_KEY] = items.back && items.back.enchantJSON ? items.back.enchantJSON.id.toString() : ''
    data[CHEST_ITEM_KEY] = items.chest ? items.chest.id.toString() : ''
    data[CHEST_ENCHANT_KEY] = items.chest && items.chest.enchantJSON ? items.chest.enchantJSON.id.toString() : ''
    data[WRIST_ITEM_KEY] = items.wrist ? items.wrist.id.toString() : ''
    data[WRIST_ENCHANT_KEY] = items.wrist && items.wrist.enchantJSON ? items.wrist.enchantJSON.id.toString() : ''
    data[MAINHAND_ITEM_KEY] = items.mainhand ? items.mainhand.id.toString() : ''
    data[MAINHAND_ENCHANT_KEY] =
      items.mainhand && items.mainhand.enchantJSON ? items.mainhand.enchantJSON.id.toString() : ''
    data[OFFHAND_ITEM_KEY] = items.offhand ? items.offhand.id.toString() : ''
    data[RANGED_ITEM_KEY] = items.ranged ? items.ranged.id.toString() : ''
    data[HANDS_ITEM_KEY] = items.hands ? items.hands.id.toString() : ''
    data[HANDS_ENCHANT_KEY] = items.hands && items.hands.enchantJSON ? items.hands.enchantJSON.id.toString() : ''
    data[WAIST_ITEM_KEY] = items.waist ? items.waist.id.toString() : ''
    data[WAIST_ENCHANT_KEY] = items.waist && items.waist.enchantJSON ? items.waist.enchantJSON.id.toString() : ''
    data[LEGS_ITEM_KEY] = items.legs ? items.legs.id.toString() : ''
    data[LEGS_ENCHANT_KEY] = items.legs && items.legs.enchantJSON ? items.legs.enchantJSON.id.toString() : ''
    data[FEET_ITEM_KEY] = items.feet ? items.feet.id.toString() : ''
    data[FEET_ENCHANT_KEY] = items.feet && items.feet.enchantJSON ? items.feet.enchantJSON.id.toString() : ''
    data[FINGER_ITEM_KEY] = items.finger ? items.finger.id.toString() : ''
    data[FINGER2_ITEM_KEY] = items.finger2 ? items.finger2.id.toString() : ''
    data[TRINKET_ITEM_KEY] = items.trinket ? items.trinket.id.toString() : ''
    data[TRINKET2_ITEM_KEY] = items.trinket2 ? items.trinket2.id.toString() : ''

    // change talents to an array format as otherwise they are too long for query string
    let optionsCopy = JSON.parse(JSON.stringify(this.encounter.options))
    delete optionsCopy.character.talents
    const afflictionTalents = Object.values(this.encounter.options.character.talents.affliction)
    const demonologyTalents = Object.values(this.encounter.options.character.talents.demonology)
    const destructionTalents = Object.values(this.encounter.options.character.talents.destruction)
    // turn talents into one big string to avoid a bunch of escaped characters in the url
    data['talents'] = afflictionTalents.join('') + demonologyTalents.join('') + destructionTalents.join('')

    // same for buffs
    delete optionsCopy.character.buffs
    data['buffs'] = Object.values(this.encounter.options.character.buffs).join('')

    // same for mana options
    delete optionsCopy.useLt
    delete optionsCopy.useTea
    delete optionsCopy.useMp
    delete optionsCopy.useEvo
    delete optionsCopy.numVates
    delete optionsCopy.useQp
    data['manaOpts'] =
      Number(this.encounter.options.useLt).toString() +
      Number(this.encounter.options.useTea).toString() +
      Number(this.encounter.options.useMp).toString() +
      Number(this.encounter.options.useEvo).toString() +
      this.encounter.options.numVates.toString() +
      Number(this.encounter.options.useQp).toString()

    // shorten partial casts
    delete optionsCopy.partialCasts
    data['pc'] = Number(this.encounter.options.partialCasts).toString()

    // shorten partial ticks
    delete optionsCopy.partialTicks
    data['pt'] = Number(this.encounter.options.partialTicks).toString()

    // shorten partial haste casts
    delete optionsCopy.partialHasteCasts
    data['phc'] = Number(this.encounter.options.partialHasteCasts).toString()

    data['options'] = JSON.stringify(optionsCopy)

    if (this.importCharacterName) {
      data['cn'] = this.importCharacterName
    }
    return globalData.Tools.publicUrl(new URLSearchParams(data).toString())
  }

  get armoryApiUrl() {
    return 'https://armory.turtle-wow.org/api/index.php?url=characters/get/c/' + this.importCharacterName
  }

  get hasCharacterName() {
    return this.importCharacterName && this.importCharacterName.length > 0
  }

  defaultCharacterName() {
    try {
      const uri = window.location.search.substring(1)
      const params = new URLSearchParams(uri)
      return params.get('cn')
    } catch (e) {
      return ''
    }
  }

  getItemSetDataForItem(item: Item | undefined): ItemSetData {
    if (item && item.isPartOfItemSet) {
      const virtualItems = this.encounter.equipment.getItemSetVirtualItems()

      // check if item setName is in virtualItems
      // virtual item name is the set name
      const matchingVirtualItems = virtualItems.filter(virtualItem => {
        return virtualItem.itemJSON.setName === item.itemJSON.setName
      })
      return {
        virtualItems: matchingVirtualItems
      }
    }

    return {
      virtualItems: undefined
    }
  }

  flashLockIcons() {
    this.hideLockIcons = true
    setTimeout(() => {
      this.hideLockIcons = false
      setTimeout(() => {
        this.hideLockIcons = true
        setTimeout(() => {
          this.hideLockIcons = false
        }, 200)
      }, 200)
    }, 200)
  }

  fillItems() {
    this.flashLockIcons()
    this.encounter.equipment.fillItems()
  }

  shareGear() {
    this.showShareModal = true
  }

  exportGear() {
    this.showExportModal = true
  }

  showImportGear() {
    this.showImportGearModal = true
  }

  lockGear() {
    this.encounter.equipment.lockItems()
    this.encounter.equipment.lockEnchants()
  }

  unlockGear() {
    this.encounter.equipment.unlockItems()
  }

  unlockEnchants() {
    this.encounter.equipment.unlockEnchants()
  }

  unequipGear() {
    this.flashLockIcons()

    this.encounter.equipment.unequipItems()
    this.encounter.equipment.unequipEnchants()
  }

  itemClicked(searchSlot: ItemSlot, item?: Item) {
    if (item) {
      // update score
      item.updateScore(this.encounter.equipment, this.encounter.equipment.scoreInfo)
    }
    // set search slot which will show modal
    this.encounter.options.itemSearchSlot = searchSlot
  }

  getItemSearchSlot() {
    return this.encounter.options.itemSearchSlot ? this.encounter.options.itemSearchSlot : ItemSlot.Head
  }

  getEnchantSearchSlot() {
    return this.encounter.options.enchantSearchSlot ? this.encounter.options.enchantSearchSlot : ItemSlot.Head
  }

  getItem(itemId: number) {
    try {
      return Query.Item({
        cloneResults: true,
        id: itemId
      })
    } catch (e) {
      console.log(e)
    }
  }

  getEnchant(enchantId: number) {
    try {
      return Query.Enchant({
        cloneResults: true,
        id: enchantId
      })
    } catch (e) {
      console.log(e)
    }
  }

  importGear() {
    if (this.importCharacterName) {
      const searchParams = new URLSearchParams(window.location.search)
      searchParams.set('cn', this.importCharacterName)
      const newRelativePathQuery = window.location.pathname + '?' + searchParams.toString()
      history.pushState(null, '', newRelativePathQuery)
    }

    const response = JSON.parse(this.apiResponse) as ApiResponse
    this.showImportGearModal = false

    // set race
    this.encounter.options.character.race = response.result.character[0].race

    // loop through items and set them
    if (!response.result.items) {
      return
    }

    const seenItems: Record<string, Item> = {}

    for (const item of response.result.items) {
      if (item) {
        const itemId = item.item_template
        const enchantId = item.enchantments
        let itemSlot: ItemSlot
        try {
          itemSlot = getItemSlotForApiSlot(item.slot) // we don't care about tunic slot
        } catch (e) {
          continue
        }

        const itemJSON = Query.Item({
          cloneResults: true,
          id: itemId
        })
        if (itemJSON) {
          const enchantJSON = Query.Enchant({
            cloneResults: true,
            effectId: enchantId
          })

          const item = new Item(itemSlot, itemJSON, enchantJSON)

          // for some reason wrist/shoulders have duplicate values in the api response but one is missing enchant info
          if (!seenItems[itemSlot] || !seenItems[itemSlot].enchantJSON) {
            seenItems[itemSlot] = item
            this.encounter.equipment.setItem(itemSlot, item)
          } else {
            continue
          }
          seenItems[itemSlot] = item
          this.encounter.equipment.setItem(itemSlot, item)
        }
      }
    }

    // lock items and unlock enchants
    this.encounter.equipment.lockItems()
    this.encounter.equipment.unlockEnchants()
  }
}
</script>
