<template>
  <section class="section has-background-black-ter is-paddingless">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">DPS</p>
          <p class="title">{{ totalDPS }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">AVG DMG</p>
          <p class="title">{{ totalDMG }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Spell Hit Chance<br />Destruction | Affliction</p>
          <p class="title">{{ chanceToHitDestruction }} | {{ chanceToHitAffliction }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Spell Hit Weight</p>
          <p class="title">{{ spellHitWeight }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Spell Crit Chance<br />Destruction | Affliction</p>
          <p class="title">{{ spellCritChance(TalentSchool.Destruction) }} | {{ spellCritChance(TalentSchool.Affliction)
            }} </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Destruction Crit Mult</p>
          <p class="title">{{ spellCritMultiplier }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Spell Crit Weight</p>
          <p class="title">{{ spellCritWeight }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Spell Haste Weight</p>
          <p class="title">{{ spellHasteWeight }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Int Weight</p>
          <p class="title">{{ intWeight }}</p>
          <p class="description">{{ intWeightInverted }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">SP -> DMG Ratio</p>
          <p class="title">{{ spellPowerToDamageRatio }}</p>
        </div>
      </div>
    </nav>
  </section>
</template>

<style scoped>
.level-item {
  color: white;
}

.title {
  color: white;
}

.no-borders {
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import Cast from '../wow/class/Cast'
import Tools from '@/wow/module/Tools'
import TalentSchool from '@/wow/enum/TalentSchool'

const Props = Vue.extend({
  props: {
    cast: Cast
  }
})

@Component({
  computed: {
    TalentSchool() {
      return TalentSchool
    }
  }
})
export default class Header extends Props {
  get _totalDPS() {
    const spellDPS = this.cast
      .spellDisplayValues()
      .map(item => item.encounterDPS)
      .reduce((prev, next) => prev + next)
    const onUseTrinketDPS = this.cast.onUseTrinketEncounterDPS

    const hasteDPS = this.cast.hasHaste ? this.cast.hasteDisplayValues.encounterDPS : 0

    return spellDPS + onUseTrinketDPS + hasteDPS
  }

  get totalDPS() {
    return `${Tools.RoundedString(this._totalDPS, 2)}`
  }

  get totalDMG() {
    return `${Tools.RoundedString((this._totalDPS * this.cast.options.encLen) / 1000, 1)}k`
  }

  get chanceToHitDestruction() {
    return `${Tools.RoundedString(this.cast.chanceToHit(TalentSchool.Destruction), 0)}%`
  }

  get chanceToHitAffliction() {
    return `${Tools.RoundedString(this.cast.chanceToHit(TalentSchool.Affliction), 0)}%`
  }

  get spellHitWeight() {
    return `${Tools.RoundedString(this.cast.spellHitWeight, 2)}`
  }

  get spellCritMultiplier() {
    return `${Tools.RoundedString(this.cast.critMultiplier(this.cast.spell.talentSchool), 2)}X`
  }

  get spellCritWeight() {
    return `${Tools.RoundedString(this.cast.spellCritWeight, 2)}`
  }

  get spellHasteWeight() {
    return `${Tools.RoundedString(this.cast.spellHasteWeight, 2)}`
  }

  get intWeight() {
    return `${Tools.RoundedString(this.cast.intWeight, 3)}`
  }

  get intWeightInverted() {
    return `(${Tools.RoundedString(1 / this.cast.intWeight, 2)} int = 1 weight)`
  }

  get spellPowerToDamageRatio() {
    return `${Tools.RoundedString(this.cast.spellPowerToDmgRatio, 2)}`
  }

  spellCritChance(talentSchool: TalentSchool) {
    return `${Tools.RoundedString(this.cast.effectiveSpellCrit(talentSchool), 2)}%`
  }
}
</script>
