<template>
  <div class="container is-fluid">
    <table class="table is-fullwidth">
      <tr>
        <td class="mana-label">
          End Of Fight Mana
        </td>
        <td class="has-text-right value">
          {{ startingMana - Math.round(spellCast.manaUsed) + Math.round(totalManaRegained) }}
        </td>
      </tr>
      <br />
      <tr>
        <td class="mana-label">
          Starting Mana
        </td>
        <td class="has-text-right value">
          {{ startingMana }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">
          Total Encounter Mana Used
        </td>
        <td class="has-text-right value">
          {{ Math.round(spellCast.manaUsed) }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">
          Total Encounter Mana Regained
        </td>
        <td class="has-text-right value">
          {{ Math.round(totalManaRegained) }}
        </td>
      </tr>
    </table>

    <hr />

    <div class="text-center">Casts</div>
    <table class="table is-fullwidth">
      <tr>
        <td class="mana-label">
          Num SB Casts
        </td>
        <td class="has-text-right value">
          {{ spellCast.numSBCasts }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">
          Effective Mana Cost Per Cast
        </td>
        <td class="has-text-right value">
          {{ Math.round(spellCast.manaCostPerCast) }}
        </td>
      </tr>
    </table>

    <hr />
    <div class="text-center">Mana Regen</div>
    <table class="table is-fullwidth">
      <tr>
        <td class="mana-label">
          Total Mp5 Regen
        </td>
        <td class="has-text-right value">
          {{ Math.round(totalMp5Regen) }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">
          Total Spirit Regen ({{ spellCast.character.percentManaRegenWhileCasting }}% while casting)
        </td>
        <td class="has-text-right value">
          {{ Math.round(totalSpiritRegen) }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">
          Total Encounter Mana Regen
        </td>
        <td class="has-text-right value">
          {{ Math.round(totalPassiveRegen) }}
        </td>
      </tr>
    </table>

    <hr />
    <div class="text-center">Avg Mana Restored</div>
    <table class="table is-fullwidth">
      <tr>
        <td class="mana-label">Tea ({{ manaData.teasUsed }})</td>
        <td class="has-text-right value">
          {{ manaData.teasRestored }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">Mana Pots ({{ manaData.manaPotionsUsed }})</td>
        <td class="has-text-right value">
          {{ manaData.manaPotionsRestored }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">Total Restored</td>
        <td class="has-text-right value">
          {{ Math.round(totalManaRestored) }}
        </td>
      </tr>
    </table>
  </div>
</template>

<style scoped>
.text-center {
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 0px 0px;
}

td {
  border: 0px;
}

td.mana-label {
  width: 85%;
}

td.value {
  width: 15%;
}
</style>

<script lang="ts">
import Cast from '@/wow/class/Cast'
import { Component, Vue } from 'vue-property-decorator'
import ManaData from '@/wow/interface/ManaData'

const Props = Vue.extend({
  props: {
    spellCast: Cast,
    manaData: Object as () => ManaData
  }
})

@Component({
  components: {}
})
export default class Mana extends Props {
  get startingMana() {
    return Math.round(this.spellCast.character.mana)
  }

  get totalPassiveRegen() {
    return this.spellCast.character.manaPerTickCasting * this.spellCast.numTicks
  }

  get totalMp5Regen(): number {
    const mp5PerTick = (this.spellCast.character.mp5 / 5) * 2
    return mp5PerTick * this.spellCast.numTicks
  }

  get totalSpiritRegen(): number {
    const spiritRegenPerTick = this.spellCast.character.manaPerTickCastingNoMp5
    return spiritRegenPerTick * this.spellCast.numTicks
  }

  get totalManaRestored(): number {
    return this.manaData.manaPotionsRestored + this.manaData.teasRestored
  }

  get totalManaRegained(): number {
    return this.totalPassiveRegen + this.totalManaRestored
  }
}
</script>
