<template>
  <div>
    <div class="columns">
      <div class="column is-narrow spellColumn">
        <div class="image-wrapper">
          <figure class="image is-64x64">
            <img :src="cast.spell.iconFullPath" class="wow-spell__icon" />
          </figure>
        </div>
      </div>
      <div class="column spellColumn">
        <aside class="wow-spell">
          <header class="wow-spell__header">
            <p class="header__name">{{ cast.spell.baseName }}</p>
            <p class="header__rank">Rank {{ cast.spell.rank }}</p>
          </header>
          <section class="wow-spell__type">
            <p class="type__slot">{{ cast.spell.manaCost }} Base Mana</p>
            <p class="type__item">{{ cast.spell.range }} yd range</p>
          </section>
          <section class="wow-spell__type">
            <p class="type__slot">{{ cast.manaCostPerCast.toFixed(0) }} Effective Mana</p>
          </section>
          <section class="wow-spell__type">
            <p class="type__slot">{{ effectiveCastTime }}</p>
            <p class="type__item">{{ baseCastTime }}</p>
          </section>
          <section class="wow-spell__footer">
            <p class="footer__text">{{ description }}</p>
          </section>
        </aside>
      </div>
    </div>
  </div>
</template>

<style scoped>
.spellColumn {
  padding: 0.15rem;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'
import Cast from '@/wow/class/Cast'

const Props = Vue.extend({
  props: {
    cast: Cast
  }
})

@Component
export default class SpellTooltip extends Props {
  wow = wow

  get description() {
    const school = this.cast.spell.magicSchoolText
    const minDmg = this.cast.normalDmg().effective.min.toFixed(0)
    const maxDmg = this.cast.normalDmg().effective.max.toFixed(0)
    const directText = `${minDmg} to ${maxDmg} ${school} damage`

    switch (this.cast.spell.baseName.toUpperCase()) {
      default:
        return `Causes ${directText} to the target.`
    }
  }

  get effectiveCastTime() {
    switch (this.cast.spell.baseName.toUpperCase()) {
      default:
        return `${this.cast.effectiveCastTime.toFixed(2)} sec cast`
    }
  }

  get baseCastTime() {
    switch (this.cast.spell.baseName.toUpperCase()) {
      default:
        return `${this.cast.spell.castTime} sec base`
    }
  }

  get chanceToHit() {
    return `${Number(this.cast.chanceToHit).toFixed(0)}% chance to hit`
  }

  get chanceToMiss() {
    return `${Number(this.cast.chanceToMiss).toFixed(0)}% chance to miss`
  }

  get chanceToCrit() {
    return `${Number(this.cast.chanceToCrit).toFixed(2)}% chance to crit`
  }
}
</script>
