<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <p class="is-size-7-mobile">Health</p>
        <p class="is-size-7-mobile">Mana</p>
        <p class="is-size-7-mobile">Armor</p>
        <p class="is-size-7-mobile">Stamina</p>
        <p class="is-size-7-mobile">Intellect</p>
        <p class="is-size-7-mobile">Spirit</p>
        <p class="is-size-7-mobile">Mp5</p>
        <p class="is-size-7-mobile">Hp5</p>
      </div>
      <div class="column">
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.health.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.mana.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.armor.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.stamina.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.intellect.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.spirit.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.mp5.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.hp5.toFixed(0) }}</p>
      </div>
    </div>
    <hr />
    <div class="columns is-mobile">
      <div class="column">
        <p class="is-size-7-mobile">Spell Hit</p>
        <p class="is-size-7-mobile">Spell Crit</p>
        <p class="is-size-7-mobile">Spell Haste</p>
        <p class="is-size-7-mobile">Spell Vamp</p>
        <p class="is-size-7-mobile">Spell Pen</p>
        <p class="is-size-7-mobile">Spell Damage</p>
        <p class="is-size-7-mobile">Shadow Damage</p>
        <p class="is-size-7-mobile">Fire Damage</p>
        <p class="is-size-7-mobile">Arcane Damage</p>
        <p class="is-size-7-mobile">Frost Damage</p>
      </div>
      <div class="column">
        <p class="is-size-7-mobile has-text-right">{{ totalSpellHit }} %</p>
        <p class="is-size-7-mobile has-text-right">
          <b-tooltip multilined v-bind:label="spellCritTooltip">{{ totalSpellCrit }} %</b-tooltip>
        </p>
        <p class="is-size-7-mobile has-text-right">
          <b-tooltip multilined v-bind:label="spellCritTooltip">{{ totalSpellHaste }} %</b-tooltip>
        </p>
        <p class="is-size-7-mobile has-text-right">{{ totalSpellVamp }} %</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.spellPenetration }}</p>

        <p class="is-size-7-mobile has-text-right">
          <b-tooltip multilined v-bind:label="spellDamageTooltip">
            {{ spellCast.effectiveSpellPower(spellCast.magicSchoolForSpell) }}
          </b-tooltip>
        </p>

        <p class="is-size-7-mobile has-text-right">
          <b-tooltip multilined v-bind:label="shadowDamageTooltip"
          >{{ spellCast.effectiveSpellPower(MagicSchool.Shadow) }}
          </b-tooltip>
        </p>

        <p class="is-size-7-mobile has-text-right">
          <b-tooltip multilined v-bind:label="fireDamageTooltip"
          >{{ spellCast.effectiveSpellPower(MagicSchool.Fire) }}
          </b-tooltip>
        </p>

        <p class="is-size-7-mobile has-text-right">
          <b-tooltip multilined v-bind:label="arcaneDamageTooltip"
          >{{ spellCast.effectiveSpellPower(MagicSchool.Arcane) }}
          </b-tooltip>
        </p>

        <p class="is-size-7-mobile has-text-right">
          <b-tooltip multilined v-bind:label="frostDamageTooltip"
          >{{ spellCast.effectiveSpellPower(MagicSchool.Frost) }}
          </b-tooltip>
        </p>
      </div>
    </div>
    <hr />
    <div class="columns is-mobile">
      <div class="column">
        <p class="is-size-7-mobile">Fire Resistance</p>
        <p class="is-size-7-mobile">Frost Resistance</p>
        <p class="is-size-7-mobile">Nature Resistance</p>
        <p class="is-size-7-mobile">Shadow Resistance</p>
        <p class="is-size-7-mobile">Arcane Resistance</p>
      </div>
      <div class="column">
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.fireResistance.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.frostResistance.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.natureResistance.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.shadowResistance.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.arcaneResistance.toFixed(0) }}</p>
      </div>
    </div>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import Cast from '@/wow/class/Cast'
import { BASE_SPELL_CRIT_LOCK } from '@/wow/module/Constants'
import { Component, Vue } from 'vue-property-decorator'
import MagicSchool from '@/wow/enum/MagicSchool'

const Props = Vue.extend({
  props: {
    spellCast: Object as () => Cast
  }
})

@Component({
  computed: {
    MagicSchool() {
      return MagicSchool
    }
  }
})
export default class Stats extends Props {
  get totalSpellHit() {
    return this.spellCast.character.getSpellHit(this.spellCast.talentSchoolForSpell)
  }

  get totalSpellCrit() {
    return this.spellCast.character
      .getSpellCrit(this.spellCast.talentSchoolForSpell, this.spellCast.spell.name)
      .toFixed(2)
  }

  get totalSpellHaste() {
    return this.spellCast.character.getEffectiveSpellHaste()
  }

  get totalSpellVamp() {
    return this.spellCast.character.getSpellVamp(this.spellCast.talentSchoolForSpell)
  }

  get spellCritTooltip() {
    const char = this.spellCast.character
    const spellCritFromEquipment = char.spellCritFromEquipment.toFixed(2)
    const spellCritFromIntellect = char.spellCritFromIntellect.toFixed(2)
    const talentSpellCrit = char
      .getTalentSpellCrit(this.spellCast.talentSchoolForSpell, this.spellCast.spell.name)
      .toFixed(2)
    return `Base:${BASE_SPELL_CRIT_LOCK} Equip:${spellCritFromEquipment} Int:${spellCritFromIntellect} Talents:${talentSpellCrit}`
  }

  get spellDamageTooltip() {
    return `${this.spellCast.effectiveSpellPower(this.spellCast.magicSchoolForSpell)} (${this.spellCast.baseSpellPower} + ${this.spellCast.buffSpellPower(this.spellCast.magicSchoolForSpell)})`
  }

  get shadowDamageTooltip() {
    return `${this.spellCast.effectiveSpellPower(MagicSchool.Shadow)} (${this.spellCast.character.arcaneSpellPower} + ${this.spellCast.character.spellPower} + ${this.spellCast.buffSpellPower(MagicSchool.Shadow)})`
  }

  get arcaneDamageTooltip() {
    return `${this.spellCast.effectiveSpellPower(MagicSchool.Arcane)} (${this.spellCast.character.arcaneSpellPower} + ${this.spellCast.character.spellPower} + ${this.spellCast.buffSpellPower(MagicSchool.Arcane)})`
  }

  get fireDamageTooltip() {
    return `${this.spellCast.effectiveSpellPower(MagicSchool.Fire)} (${this.spellCast.character.fireSpellPower} + ${this.spellCast.character.spellPower} + ${this.spellCast.buffSpellPower(MagicSchool.Fire)})`
  }

  get frostDamageTooltip() {
    return `${this.spellCast.effectiveSpellPower(MagicSchool.Frost)} (${this.spellCast.character.frostSpellPower} + ${this.spellCast.character.spellPower} + ${this.spellCast.buffSpellPower(MagicSchool.Frost)})`
  }
}
</script>
