<template>
  <div class="content">
    Points Remaining: {{ talentPointsRemaining }}
    <b-tabs class="block">
      <b-tab-item label="Affliction">
        <AfflictionTalents :options="options" />
      </b-tab-item>
      <b-tab-item label="Demonology">
        <DemonologyTalents :options="options" />
      </b-tab-item>
      <b-tab-item label="Destruction">
        <DestructionTalents :options="options" />
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import OptionsInterface from '../wow/interface/Options'
import AfflictionTalents from '@/components/AfflictionTalents.vue'
import DemonologyTalents from '@/components/DemonologyTalents.vue'
import DestructionTalents from '@/components/DestructionTalents.vue'

const Props = Vue.extend({
  props: {
    options: Object as () => OptionsInterface
  }
})

@Component({
  components: {
    DestructionTalents,
    DemonologyTalents,
    AfflictionTalents
  }
})
export default class Talents extends Props {
  get talentPointsRemaining(): number {
    let pointsSpent = 0
    const talents = this.options.character.talents as Record<string, Record<string, number>>
    for (const tree of Object.values(talents)) {
      for (const talent of Object.values(tree)) {
        // check if talent is a number
        pointsSpent += talent
      }
    }

    return 51 - pointsSpent
  }
}
</script>
