<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <b-field label="Level" label-position="on-border">
          <b-select v-model="targetLevel" class="is-size-7-mobile" expanded>
            <option value="63">63</option>
            <option value="62">62</option>
            <option value="61">61</option>
            <option value="60">60</option>
            <option value="59">59</option>
            <option value="58">58</option>
            <option value="57">57</option>
          </b-select>
        </b-field>
        <b-field label="Type" label-position="on-border">
          <b-select v-model="targetType" class="is-size-7-mobile" expanded>
            <option value="1">Beast</option>
            <option value="2">Demon</option>
            <option value="4">Dragonkin</option>
            <option value="8">Elemental</option>
            <option value="16">Giant</option>
            <option value="32">Humanoid</option>
            <option value="64">Mechanical</option>
            <option value="128">Undead</option>
          </b-select>
        </b-field>
        <b-field label="Shimmer" label-position="on-border">
          <b-select v-model="shimmer" class="is-size-7-mobile" expanded>
            <option value="0">None</option>
            <option value="1">Arcane</option>
            <option value="2">Fire</option>
            <option value="3">Frost</option>
            <option value="4">Nature</option>
            <option value="5">Shadow</option>
            <option value="6">Holy</option>
          </b-select>
        </b-field>
        <div class="field winters-chill">
          <b-checkbox v-if="isFrostSpell" v-model="debuff.WintersChill" class="is-size-7-mobile">
            Winter's Chill (Currently very simple - 10% crit chance to frost spells)
          </b-checkbox>
        </div>
        <div class="field">
          <b-checkbox v-model="curseOfShadow" class="is-size-7-mobile">
            Curse of Shadows
          </b-checkbox>
        </div>
        <div class="field">
          <b-checkbox v-model="curseOfElements" class="is-size-7-mobile">
            Curse of Elements
          </b-checkbox>
        </div>
        <div class="field">
          <b-checkbox v-model="spellVulnerability" class="is-size-7-mobile">
            Spell Vulnerability
          </b-checkbox>
        </div>
      </div>
      <div class="column">
        <b-field label="Resistance" label-position="on-border">
          <input
            v-model="encounter.options.target.spellResistance"
            class="input is-size-7-mobile"
            disabled="true"
            type="number"
          />
        </b-field>
        <div class="field">
          <b-field label="Scorch Vulnerability Stacks" label-position="on-border">
            <input v-model="scorchVulnerability" class="input is-size-7-mobile" max="5" min="0" type="number" />
          </b-field>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.ignite .tooltip_label {
  width: 400px;
  margin-top: 5px;
}

.winters-chill {
  margin-top: 10px;
}

.input[disabled] {
  background-color: #363636;
  color: #fff;
  border-color: #7a7a7a;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Debuff from '@/wow/enum/Debuffs'
import Encounter from '@/wow/class/Encounter'
import Cast from '@/wow/class/Cast'
import MagicSchool from '@/wow/enum/MagicSchool'

const Props = Vue.extend({
  props: {
    encounter: Encounter
  }
})

@Component
export default class TargetSettings extends Props {
  debuff = Debuff

  get isFrostSpell(): boolean {
    return this.encounter.spellCast.magicSchoolForSpell === MagicSchool.Frost
  }

  get isFireSpell(): boolean {
    return this.encounter.spellCast.magicSchoolForSpell === MagicSchool.Fire
  }

  get targetType(): string {
    return this.encounter.options.target.type.toString()
  }

  set targetType(val: string) {
    const targetType = parseInt(val, 10)
    this.encounter.options.target.type = targetType
    this.encounter.equipment.scoreInfo.targetType = targetType
    this.encounter.spellCast = new Cast(this.encounter.options, { equipment: this.encounter.equipment })
  }

  get targetLevel(): string {
    return this.encounter.options.target.level.toString()
  }

  set targetLevel(val: string) {
    const targetLevel = parseInt(val, 10)
    this.encounter.options.target.level = targetLevel
    this.encounter.spellCast = new Cast(this.encounter.options, { equipment: this.encounter.equipment })
  }

  get shimmer(): string {
    return this.encounter.options.target.shimmer.toString()
  }

  set shimmer(val: string) {
    this.encounter.options.target.shimmer = parseInt(val, 10)
    this.encounter.spellCast = new Cast(this.encounter.options, { equipment: this.encounter.equipment })
  }

  get scorchVulnerability(): number {
    return this.encounter.options.target.debuffs[Debuff.ScorchVulnerability]
  }

  set scorchVulnerability(val: number) {
    if (val === 0) {
      delete this.encounter.options.target.debuffs[Debuff.ScorchVulnerability]
      return
    }
    this.encounter.options.target.debuffs[Debuff.ScorchVulnerability] = val
    this.encounter.spellCast = new Cast(this.encounter.options, { equipment: this.encounter.equipment })
  }

  get igniteStacks(): number {
    return this.encounter.options.target.debuffs[Debuff.Ignite]
  }

  set igniteStacks(val: number) {
    if (val === 0) {
      delete this.encounter.options.target.debuffs[Debuff.Ignite]
      return
    }
    this.encounter.options.target.debuffs[Debuff.Ignite] = val
    this.encounter.spellCast = new Cast(this.encounter.options, { equipment: this.encounter.equipment })
  }

  get curseOfShadow(): boolean {
    return this.encounter.options.target.debuffs.hasOwnProperty(Debuff.CurseOfShadow)
  }

  set curseOfShadow(val: boolean) {
    if (val) {
      this.encounter.options.target.debuffs[Debuff.CurseOfShadow] = 1
    } else {
      delete this.encounter.options.target.debuffs[Debuff.CurseOfShadow]
    }
    this.encounter.spellCast = new Cast(this.encounter.options, { equipment: this.encounter.equipment })
  }

  get curseOfElements(): boolean {
    return this.encounter.options.target.debuffs.hasOwnProperty(Debuff.CurseOfElements)
  }

  set curseOfElements(val: boolean) {
    if (val) {
      this.encounter.options.target.debuffs[Debuff.CurseOfElements] = 1
    } else {
      delete this.encounter.options.target.debuffs[Debuff.CurseOfElements]
    }
    this.encounter.spellCast = new Cast(this.encounter.options, { equipment: this.encounter.equipment })
  }

  get wintersChill(): boolean {
    return this.encounter.options.target.debuffs.hasOwnProperty(Debuff.WintersChill)
  }

  set wintersChill(val: boolean) {
    if (val) {
      this.encounter.options.target.debuffs[Debuff.WintersChill] = 1
    } else {
      delete this.encounter.options.target.debuffs[Debuff.WintersChill]
    }
    this.encounter.spellCast = new Cast(this.encounter.options, { equipment: this.encounter.equipment })
  }

  get spellVulnerability(): boolean {
    return this.encounter.options.target.debuffs.hasOwnProperty(Debuff.SpellVulnerability)
  }

  set spellVulnerability(val: boolean) {
    if (val) {
      this.encounter.options.target.debuffs[Debuff.SpellVulnerability] = 1
    } else {
      delete this.encounter.options.target.debuffs[Debuff.SpellVulnerability]
    }
    this.encounter.spellCast = new Cast(this.encounter.options, { equipment: this.encounter.equipment })
  }

  get igniteTooltip() {
    return `The current implementation is very simple (would like to expand in the future). It currently only considers your chance of getting single ignite stacks as a solo mage using your crit chance.  1 ignite stack gives 60% of your avg crit dmg * scorch bonus due to the 3 ticks it gets on TWoW.  2+ stacks gives 40% of your avg crit dmg * scorch bonus due only getting the normal 2 ticks`
  }
}
</script>
